* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Raleway', sans-serif;
}
footer {
  background-color: #17acc9;
  text-decoration: none;
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__box__body {
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
      grid-template-areas: "enlaces contacto ubicacion logo";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__box__body__enlaces {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  display: inline;
  grid-area: enlaces;
  font-size: 1.4rem;
  margin-top: 20px;
}
.footer__box__body__enlaces ul li {
  list-style: none;
}
.footer__box__body__enlaces ul li a {
  text-decoration: none;
  color: #ffffff;
}
.footer__box__body__contacto {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: contacto;
}
.footer__box__body__contacto-txt h2 {
  text-align: left;
}
.footer__box__body__contacto-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.footer__box__body__contacto-phone-img {
  width: 22px;
  height: auto;
}
.footer__box__body__contacto-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.footer__box__body__contacto-email-img {
  width: 22px;
  height: auto;
}
.footer__box__body__contacto-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}
.footer__box__body__contacto-redes-img {
  width: 22px;
  height: auto;
}
.footer__box__body__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: logo;
}
.footer__box__body__logo-img {
  width: 3px;
  height: auto;
}
.footer__box__body__ubicacion {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: ubicacion;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__box__body__ubicacion-img {
  width: 70px;
  height: auto;
}
.footer__box__body__ubicacion-txt {
  text-align: center;
  margin: 15px;
}
.nvoTicket h2 {
  margin: 10px 10px;
  padding: 5px 0;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.245);
  -webkit-box-shadow: inset #2980b9;
          box-shadow: inset #2980b9;
  text-align: center;
}
.nvoTicket label {
  margin: 10px;
  display: block;
  font-weight: 600;
  font-size: 1.6rem;
}
.nvoTicket input {
  border: 1px solid gray;
  border-radius: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-align: center;
  width: 280px;
}
.nvoTicket select,
.nvoTicket textarea {
  border-radius: 20px;
  margin-left: 20px;
  padding: 3px;
  border-color: gray;
  text-align: center;
}
.nvoTicket #cliente {
  width: 100px;
}
