@import "variables.less";
@import "globals.less";

// estilos de empresa
 .empresa{
  /* margin: 20px; */
    .inicio{
      max-width: 100%;
      margin: 0 auto ;
      background-image: url(/imagenes/Banner_Paradigmas.png);
      opacity: .9;
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;

      width: 360px;
      height: 320px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__contenido{
        background-color: rgba(61, 102, 131, .5);
        width: 100%;
        padding: 15px;
        h2{
          color: @color-white;
          font-size: 4rem;
          text-align: right;
          font-family: @font-family;
        }
      }
    }
    .desarrollo{
      &__inicio{
      p{
        font-size: @font-size-lg;
        padding: 10px;
        text-align: center;
        color: @color-text;
        font-family: @font-family;
      }
      }
      &__our{
        margin: 20px;
       
        gap: 20px;
        
        h2{
          border-bottom: 1px solid @color-primary;
          padding-bottom: .6em;
          font-style: @font-light;
          font-size: 2rem;
          font-family: @font-family;
          text-align: left;
          margin-top: 20px;
        }
        p{
          color: @color-text;
          font-family: @font-family;
        }
        &-vision{
          flex: 1;
          text-align: left;
          font-size: @font-size-md;
        }
        &-mision{
          flex: 1;
          text-align: left;
          font-size: @font-size-md;
        }
      }
    }
    .do{
      .do__inicio{
        max-width: 100%;
        margin: 0 auto ;
        background-image: url(/imagenes/Banner_Paradigmas.png);
        opacity: .9;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;

        width: 360px;
        height: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-texto{
          background-color: rgba(61, 102, 131, .5);
          width: 100%;
          padding: 15px;
          h2{
            color: @color-white;
            font-size: 4rem;
            text-align: right;
            font-family: @font-family;
          }
        }
      }
      .do__descripcion{
        &__txt{
          color: @color-text;
          text-align: center;
          font-size: @font-size-md;
          font-family: @font-family;
          margin-top: 20px;
          &__soluciones{
            h2 {
              background: rgb(47,144,207);
              background: linear-gradient(90deg, rgba(47,144,207,0) 14%, rgba(40,129,186,0.3) 92%);
              padding: 20px 20px 20px 10px;
              color: @color-text;
              font-size: 3rem;
              border-radius: 0px 20px 20px 0px;
              margin: 10px 30px 10px 5px;
              text-align: center;
            }
            ul{
              margin: 20px;
              li{
                font-size: @font-size-md;
                color: @color-text;
              }
            }
            &-button{
              background-color: @color-primary;
              border-radius: 50px;
              width: 100px;
              text-align: center;
              padding: 5px;
              margin: 20px;
              left: 220px;
              position: relative;
              a{
                text-decoration: none;
                list-style: none;
                color: @color-white;

              }
            }
          }
          &__sadmin{
            h2 {
              background: rgb(40,129,186);
              background: linear-gradient(90deg, rgba(40,129,186,0.3) 14%, rgba(47,144,207,0) 92%);
              padding: 25px 10px 25px 20px;
              color: @color-text;
              font-size: 2.5rem;
              border-radius: 20px 0px 0px 20px;
              margin: 10px 0px 10px 30px;
              text-align: center;
            }
            ul{
              margin: 20px;
              li{
                font-size: @font-size-md;
                color: @color-text;
              }
            }
            &-button{
              background-color: @color-primary;
              border-radius: 50px;
              width: 100px;
              text-align: center;
              padding: 5px;
              margin: 20px;
              left: 220px;
              position: relative;
              a{
                text-decoration: none;
                list-style: none;
                color: @color-white;

              }
            }
          }
          &__mantenimiento{
            h2 {
              background: rgb(47,144,207);
              background: linear-gradient(90deg, rgba(47,144,207,0) 14%, rgba(40,129,186,0.3) 92%);
              padding: 20px 20px 20px 10px;
              color: @color-text;
              font-size: 2.8rem;
              border-radius: 0px 25px 25px 0px;
              margin: 10px 30px 10px 5px;
              text-align: center;
            }
            ul{
              margin: 20px;
              li{
                font-size: @font-size-md;
                color: @color-text;
              }
            }
            &-button{
              background-color: @color-primary;
              border-radius: 50px;
              width: 100px;
              text-align: center;
              padding: 5px;
              margin: 20px;
              left: 220px;
              position: relative;
              a{
                text-decoration: none;
                list-style: none;
                color: @color-white;

              }
            }
          }
        }
      }
    }
    .start{
      &__banner{
        max-width: 100%;
        margin: 0 auto ;
        background-image: url(/imagenes/Banner_Paradigmas.png);
        opacity: .9;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
  
        width: 360px;
        height: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-img{
        background-color: rgba(61, 102, 131, .5);
        width: 100%;
        padding: 15px;
        h2{
          color: @color-white;
          font-size: 4rem;
          text-align: right;
          font-family: @font-family;
        }
        }
      }
      &__txt{
        &-inicio{
          p{
            color: @color-text;
            font-size: @font-size-md;
            margin: 20px;
          }
        }
        &-compromiso{
          h2{
            background: rgb(40,129,186);
            background: linear-gradient(90deg, rgba(40,129,186,0.3) 14%, rgba(47,144,207,0) 92%);
            padding: 20px 10px 20px 0px;
            color: @color-text;
            font-size: 3rem;
            border-radius: 25px 0px 0px 25px;
            margin: 10px 0px 10px 30px;
            text-align: center;
          }
          p{
            margin: 20px;
            color: @color-text;
            font-size: @font-size-md;
          }
        }
        &-valores{
          h2{
            background: rgb(47,144,207);
            background: linear-gradient(90deg, rgba(47,144,207,0) 14%, rgba(40,129,186,0.3) 92%);
            padding: 20px 20px 20px 10px;
            color: @color-text;
            font-size: 3rem;
            border-radius: 0px 20px 20px 0px;
            margin: 10px 30px 10px 5px;
            text-align: center;
          }
          ul{
            margin: 20px;
            li{
              font-size: @font-size-lg;
            } 
            p{
               color: @color-text;
               font-size: @font-size-md;
            }
            
          }
        }
      }
    }
    .proveedores{
      &__txt{
        h2{
          background: rgb(40,129,186);
          background: linear-gradient(90deg, rgba(40,129,186,0.3) 14%, rgba(47,144,207,0) 92%);
          padding: 10px 10px 11px 20px;
          color: @color-text;
          font-size: 2.2rem;
          border-radius: 20px 0px 0px 20px;
          margin: 10px 0px 10px 30px;
          text-align: center;
        }
        p{
          margin: 20px;
          color: @color-text;
          font-size: @font-size-md;
        }
      }
    }
  
}

.footer {
  &__box {
    &__body {
      position: relative;
      background: rgb(2, 0, 36);
      background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
      color: @color-white;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: "contacto logo"
        "email  email";
      padding: 20px;

      &__contacto {
        grid-area: contacto;
        &-txt {
          h2 h3 {
            text-align: left;
            font-size: @font-size-sm;
          }
        }

        &-phone {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;

          img {
            width: 22px;
            height: 22px;
          }

          &-num {
            font-family: @font-family2;
            font-size: @font-size-md;
          }

        }

        &-email {
          display: flex;
          grid-area: email;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          img {
            width: 20px;
            height: auto;
          }

          &-direccion {
            font-size: @font-size-sm ;
          }
        }

        &-redes {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;

          img {
            width: 22px;
            height: auto;
          }

          &-txt {
            font-size: @font-size-md;
          }
        }
      }
      &__logo {
        grid-area: logo;
        display: flex;
        align-items: center;
        margin-left: 10px;
        img{
          width: 100px;
          height: auto;
        }
      }

      &__enlaces {
        display: none;
        text-decoration: none;
        ul {
          li {
            list-style: none;
            text-decoration: none;
          }
        }
      }
      &__ubicacion{
        grid-area: ubicacion;
        display: none;
        img{
          width: 22px;
          height: auto;
        }
      }
    }
  }
}