@import "variables.less";
@import "globals.less";
header {
  border-bottom: 1px solid @color-secondary;
  .menu-top {
    height: 80px;
    display: flex;
    justify-content: space-between;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    width: 100%;
    padding: 10px 20px;
    font-size: 3rem;
    font-weight: @font-light;
    margin: 0 auto;
    &__link {
      text-decoration: none;
      color: @color-white;
      font-weight: @font-semibold;
      img {
        width: 50px;
        height: auto;
        top: 0;
      }
    }
  }
}
.index{
  .content {
    margin: 20px 0;
  }
  .desarrollo {
    &__soluciones {
      max-width: 100%;
      margin: 20px auto;
      background-image: url(/Images/solucionesWeb_icon\ 1.jpg);
      opacity: .9;
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      width: 350px;
      height: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &-txt{
        h2 {
          margin: 20px 0;
          color: @color-text;
          font-size:@font-size-max;
          text-align: center;
        }
      }  
    }
    &__dominios {
      margin: 20px auto;
      text-align: center;
      width: 550px;
      display: flex;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
      border-radius: 15px 15px 15px 15px;
      position: relative;
      line-height: 18px;
      img {
        width: 200px;
        height: 160px;
        border-radius: 0 15px 0 15px;
        display: flex;
        margin: auto;
      }
      &__box {
        &-title {
          h2 {
            font-size:@font-size-titulo;
            color: @color-text;
            font-weight: @font-bold;
            text-align: center;
            margin: auto;
            border-bottom: 2px solid #ffa500;
            width: 80%;
            line-height: 40px;
            margin-bottom: 10px;
          }
        }
        &-txt {
          font-size:@font-size-xl;
          color: @color-text;
          text-align: center;
          margin: auto;
          line-height: 30px;
          margin-top: 20px;
        }
      }
    }
    &__hosting {
      margin: 20px auto;
      text-align: left;
      width: 550px;
      display: flex;
      flex-flow: row-reverse;
      padding: 10px; 
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
      border-radius: 15px 15px 15px 15px;
      position: relative;
      img {
        width: 300px;
        height: 160px;
        border-radius: 0 15px 0 15px;
        display: flex;
        margin: auto;
      }
      &__box {
        &-title {
          h2{
            font-size:@font-size-titulo;
            color: @color-text;
            font-weight: @font-bold;
            text-align: center;
            line-height: 50px;
            border-bottom: 2px solid #ffa500;
            width: 80%;
            margin-bottom: 10px;
          }
        }
        &-txt {
          font-size:@font-size-xl;
          color: @color-text;
          text-align: center;
          margin: auto;
          line-height: 30px;
          margin-top: 20px;
        }
      }
    }
    &__correo {
      margin: 20px auto;
      text-align: left;
      width: 550px;
      display: flex;
     /*  padding: 10px; */
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
      border-radius: 15px 15px 15px 15px;
      position: relative;
      img {
        width: 200px;
        height: 160px;
        border-radius: 0 15px 0 15px;
        display: flex;
        margin: auto;
      }
      &__box {
        &-title {
          h2{
            font-size:@font-size-titulo;
            color: @color-text;
            margin: auto;
            text-align: right;
            line-height: 40px;
            border-bottom: 2px solid #ffa500;
            width: 80%;
            margin-bottom: 10px;
          }
        }
        &-txt {
          font-size: @font-size-xl;
          color: @color-text;
          text-align: center;
          line-height: 30px;
          margin-top: 20px;
        }
      }
    }
    &__pagina {
      margin: 20px auto;
      text-align: left;
      width: 550px;
      display: flex;
      flex-flow: row-reverse;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
      border-radius: 15px 15px 15px 15px;
      position: relative;
      padding: 20px;
      img {
        width: 200px;
        height: 160px;
        border-radius: 0 15px 0 15px;
        display: flex;
        margin: auto;
      }
      &__box {
        &-title {
          h2 {
            font-size: @font-size-titulo;
            color: @color-text;
            text-align: left;
            line-height: 40px;
            border-bottom: 2px solid #ffa500;
            width: 80%;
            margin-bottom: 10px;
          }
        }
        &-txt {
          margin: auto;font-size: 2.8rem;
          color: @color-text;
          text-align: center;
          margin: auto;
          line-height: 30px;
          margin-top: 20px;
        }
      }
    }
    &__arquitectura {
      max-width: 100%;
      margin: 20px auto;
      background-image: url(/Images/solucionesWeb_icon\ 1.jpg);
      opacity: .9;
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      width: 350px;
      height: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &-title {
        h2{
          margin: 20px 0;
          color: @color-text;
          font-size:@font-size-max;
          text-align: center;
        }
      }
    }
    &__servidores {
      margin: 20px auto;
      text-align: center;
      width: 550px;
      display: flex;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
      border-radius: 15px 15px 15px 15px;
      position: relative;
      line-height: 18px;
      flex-flow: row-reverse;
      img {
        width: 200px;
        height: 160px;
        border-radius: 0 15px 0 15px;
        display: flex;
        margin: auto;
      }
      &__box {
        &-title {
          h2{
            font-size: @font-size-titulo;
            color: @color-text;
            text-align: left;
            line-height: 40px;
            border-bottom: 2px solid #ffa500;
            width: 90%;
            margin: auto;
            margin-bottom: 10px;
          }
        }
        &-txt {
          margin: auto;font-size: 2.8rem;
          color: @color-text;
          text-align: center;
          margin: auto;
          line-height: 30px;
          margin-top: 20px;
        }
      }
    }
    &__dMedida {
      max-width: 100%;
      margin: 20px auto;
      background-image: url(/imagenes/soluciones.svg);
      opacity: .9;
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      width: 450px; 
      height: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &-title {
        h2{
          margin: 20px 0;
          color: @color-text;
          font-size: 9.5rem;
          text-align: center;
        }
      }
    }
    &__aplicaciones {
      margin: 20px auto;
      text-align: left;
      width: 550px;
      display: flex;
      flex-flow: row-reverse;
     /*  padding: 10px; */
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
      border-radius: 15px 15px 15px 15px;
      position: relative;
      img {
        width: 300px;
        height: 160px;
        border-radius: 0 15px 0 15px;
        display: flex;
        margin: auto;
      }
      &__box {
        &-title {
          h2{
            font-size: @font-size-titulo;
            color: @color-text;
            margin: auto;
            text-align: left;
            line-height: 40px;
            border-bottom: 2px solid #ffa500;
            width: 90%;
            margin-bottom: 10px;
          }
        }
        &-txt {
          margin: auto;
          font-size: @font-size-xl;
          color: @color-text;
          text-align: center;
          margin: auto;
          line-height: 30px;
          margin-top: 20px;
        }
      }
    }
    &__online {
      max-width: 100%;
      margin: 20px auto;
      background-image: url(/imagenes/soluciones.svg);
      opacity: .9;
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      width: 450px;  
      height: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &-title {
        h2{
          margin: 20px 0;
          color: @color-text;
          font-size: 9.5rem;
          text-align: center;
          line-height: 75px;
        }
      }
    }
    &__tienda {
      margin: 20px auto;
      text-align: left;
      width: 550px;
      display: flex;
     /*  padding: 10px; */
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
      border-radius: 15px 15px 15px 15px;
      position: relative;
      img {
        width: 300px;
        height: 160px;
        border-radius: 0 15px 0 15px;
        display: flex;
        margin: auto;
      }
      &__box {
        &-title {
          h2{
            font-size: @font-size-titulo;
            color: @color-text;
            margin: auto;
            text-align: left;
            line-height: 40px;
            border-bottom: 2px solid #ffa500;
            width: 90%;
            margin-bottom: 10px;
          }
        }
        &-txt {
          font-size:@font-size-xl;
          color: @color-text;
          text-align: center;
          margin: auto;
          line-height: 30px;
          margin-top: 20px;
        }
      }
    }
    &__soporte {
      max-width: 100%;
      margin: 20px auto;
      background-image: url(/imagenes/soluciones.svg);
      opacity: .9;
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      width: 450px;  
      height: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &-title {
        h2{
          margin: 20px 0;
          color: @color-text;
          font-size: 9.5rem;
          text-align: center;
        }
      }
    }
    &__informatico {
      margin: 20px auto;
      text-align: left;
      width: 550px;
      display: flex;
      flex-flow: row-reverse;
     /*  padding: 10px; */
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
      border-radius: 15px 15px 15px 15px;
      position: relative;
      img {
        width: 300px;
        height: 160px;
        border-radius: 0 15px 0 15px;
        display: flex;
        margin: auto;
      }
      &__box {
        &-title {
          h2{
            font-size: @font-size-titulo;
            color: @color-text;
            margin: auto;
            text-align: left;
            line-height: 50px;
            border-bottom: 2px solid #ffa500;
            width: 85%;
            margin-bottom: 10px;
          }
          }
        &-txt {
          p{
            font-size: @font-size-xl;
            color: @color-text;
            text-align: center;
            margin: auto;font-size: 2.8rem;
            color: @color-text;
            text-align: center;
            margin: auto;
            line-height: 30px;
            margin-top: 20px;
          }
        }
      }
    }
  }
  .final{
    &__sAdmin {
      opacity: .9;
      background-image: url(/imagenes/administrativo.png);
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      width: auto;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &-title {
        h2{
          font-size: @font-size-titulo;
          color: @color-white;
          font-weight: @font-regular;
          margin: 0;
          background-color: rgba(40, 40, 40, 0.8);
          height: 150px;
          background-position: center top;
        }
      }
    }
    &__empresa {
      margin: 10px auto;
      display: flex;
      flex-direction: column; 
      &-title {
        h2{
        font-size: @font-size-xl;
        color: @color-text;
        font-weight: @font-regular;
        line-height: -25px;
        text-align: center;
        }
      }
      &-txt {
        ul{
          display: flex;
          flex-direction: column; 
          align-items: center;
          align-items: flex-start; 
          li {
            display: flex;
            justify-content: center;
            align-items: left;
            list-style-type: none;
            color: @color-text;
            margin: 10px;
            gap: 10px;
            img {
              width: 30px;
              height: auto;
            }
            p {
              margin: 0;
              font-size: 2.6rem;
            }
          }
        }
      }
      &-btn {
        background-color: @color-primary;
        border-radius: 50px;
        width: 250px;
        text-align: center;
        padding: 5px;
        margin: 40px;
        left: 450px;
        position: relative; 
          a{
            font-family: @font-family;
            font-size: 2.5rem;
          }
        }
      }
    }
  }
  .empresa {
    .inicio {
      max-width: 100%;
      margin: 0 auto;
      background-image: url(/imagenes/Banner_Paradigmas.png);
      opacity: .9;
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      width: auto;
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__contenido {
        background-color: rgba(61, 102, 131, .5);
        width: 100%;
        padding: 15px;
        h2 {
          color: @color-white;
          font-size: @font-size-titulo;
          text-align: right;
        }
      }
    }
    .desarrollo {
      &__inicio {
        p {
          font-size: @font-size-lg;
          padding: 10px;
          text-align: center;
          color: @color-text;
        }
      }
      &__our {
        margin: 20px;
        gap: 20px;
        h2 {
          border-bottom: 1px solid @color-primary;
          font-style: @font-light;
          font-size: @font-size-xl;
          text-align: left;
          margin-bottom: 20px;
        }
        p {
          color: @color-text;
          font-size: @font-size-lg;
        }
        &-vision {
          flex: 1;
          text-align: left;
          font-size: @font-size-md;
        }
        &-mision {
          flex: 1;
          text-align: left;
          font-size: @font-size-md;
        }
      }
    }
    .do {
      .do__inicio {
        max-width: 100%;
        margin: 0 auto;
        background-image: url(/imagenes/Banner_Paradigmas.png);
        opacity: .9;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        width: auto;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-texto {
          background-color: rgba(61, 102, 131, .5);
          width: 100%;
          padding: 15px;
          h2 {
            color: @color-white;
            font-size: @font-size-titulo;
            text-align: right;
          }
        }
      }
      .do__descripcion {
        &__txt {
          font-size: @font-size-lg;
          padding: 10px;
          text-align: center;
          color: @color-text;
          &__soluciones {
            h2 {
              background: rgb(47, 144, 207);
              background: linear-gradient(90deg, rgba(47, 144, 207, 0) 14%, rgba(40, 129, 186, 0.3) 92%);
              padding: 20px 20px 20px 10px;
              color: @color-text;
              font-size:@font-size-tAdmin;
              border-radius: 0px 20px 20px 0px;
              margin: 10px 30px 10px 5px;
              text-align: right;
            }
            ul {
              margin: 40px;
              li {
                font-size: @font-size-lg;
                color: @color-text;
                
              }
            }
            &-button {
              background-color: @color-primary;
              border-radius: 50px;
              width: 120px;
              text-align: center;
              padding: 5px;
              margin: 20px;
              left: 500px;
              position: relative;
  
              a{
                font-size: @font-size-sm;
              }
            }
          }
          &__sadmin {
            h2 {
              background: rgb(40, 129, 186);
              background: linear-gradient(90deg, rgba(40, 129, 186, 0.3) 14%, rgba(47, 144, 207, 0) 92%);
              padding: 25px 10px 25px 20px;
              color: @color-text;
              font-size: @font-size-tAdmin;
              border-radius: 20px 0px 0px 20px;
              margin: 10px 0px 10px 30px;
              text-align: left;
            }
            ul {
              margin: 40px;
              li {
                font-size: @font-size-lg;
                color: @color-text;
              }
            }
            &-button {
              background-color: @color-primary;
              border-radius: 50px;
              width: 120px;
              text-align: center;
              padding: 5px;
              margin: 20px;
              left: 500px;
              position: relative;
  
              a{
                font-size: @font-size-sm;
              }
            }
          }
          &__mantenimiento {
            h2 {
              background: rgb(47, 144, 207);
              background: linear-gradient(90deg, rgba(47, 144, 207, 0) 14%, rgba(40, 129, 186, 0.3) 92%);
              padding: 20px 20px 20px 10px;
              color: @color-text;
              font-size: @font-size-tAdmin;
              border-radius: 0px 25px 25px 0px;
              margin: 10px 30px 10px 5px;
              text-align: right;
            }
            ul {
              margin: 40px;
              li {
                font-size: @font-size-lg;
                color: @color-text;
              }
            }
            &-button {
              background-color: @color-primary;
              border-radius: 50px;
              width: 120px;
              text-align: center;
              padding: 5px;
              margin: 20px;
              left: 500px;
              position: relative;
  
              a{
                font-size: @font-size-sm;
              }
            }
          }
        }
      }
    }
    .start {
      &__banner {
        max-width: 100%;
        margin: 0 auto;
        background-image: url(/imagenes/Banner_Paradigmas.png);
        opacity: .9;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        width: auto;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-img {
          background-color: rgba(61, 102, 131, .5);
          width: 100%;
          padding: 15px;
          h2 {
            color: @color-white;
            font-size: @font-size-titulo;
            text-align: center;
          }
        }
      }
      &__txt {
        &-inicio {
          p {
            color: @color-text;
            font-size: @font-size-lg;
            margin: 20px;
          }
        }
        &-compromiso {
          h2 {
            background: rgb(40, 129, 186);
            background: linear-gradient(90deg, rgba(40, 129, 186, 0.3) 14%, rgba(47, 144, 207, 0) 92%);
            padding: 20px 10px 20px 0px;
            color: @color-text;
            font-size: @font-size-tAdmin;
            border-radius: 25px 0px 0px 25px;
            margin: 10px 0px 10px 30px;
            text-align: left;
          }
          p {
            margin: 20px;
            color: @color-text;
            font-size: @font-size-lg;
          }
        }
        &-valores {
          h2 {
            background: rgb(47, 144, 207);
            background: linear-gradient(90deg, rgba(47, 144, 207, 0) 14%, rgba(40, 129, 186, 0.3) 92%);
            padding: 20px 20px 20px 10px;
            color: @color-text;
            font-size: @font-size-tAdmin;
            border-radius: 0px 20px 20px 0px;
            margin: 10px 30px 10px 5px;
            text-align: right;
          }
          ul {
            margin: 45px;
            li {
              font-size: @font-size-lg;
            }
            p {
              color: @color-text;
              font-size: @font-size-md;
            }
          }
        }
      }
    }
    .proveedores {
      &__txt {
        h2 {
          background: rgb(40, 129, 186);
          background: linear-gradient(90deg, rgba(40, 129, 186, 0.3) 14%, rgba(47, 144, 207, 0) 92%);
          padding: 10px 10px 11px 20px;
          color: @color-text;
          font-size: @font-size-tAdmin;
          border-radius: 20px 0px 0px 20px;
          margin: 10px 0px 10px 30px;
          text-align: left;
        }
        p {
          margin: 20px;
          color: @color-text;
          font-size: @font-size-lg;
        }
      }
    }
  }
.footer {
  &__box {
    &__body {
      background: rgb(2, 0, 36);
      background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
      color: @color-white;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas: "contacto ubicacion logo"
                            "email  email logo";
      padding: 20px;

      &__contacto {
        grid-area: contacto;
        &-txt {
          h2 h3 {
            text-align: left;
            font-size: @font-size-md;
          }
        }

        &-phone {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;

          img {
            width: 22px;
            height: 22px;
          }

          &-num {
            font-family: @font-family2;
            font-size: @font-size-md;
          }

        }

        &-email {
          display: flex;
          grid-area: email;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          img {
            width: 20px;
            height: auto;
          }

          &-direccion {
            font-size: @font-size-md ;
          }
        }

        &-redes {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;

          img {
            width: 22px;
            height: auto;
          }

          &-txt {
            font-size: @font-size-md;
          }
        }
      }
      &__logo {
        grid-area: logo;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          width: 110px;
          height: auto;
        }
      }

      &__enlaces {
        display: none;
        text-decoration: none;
        ul {
          li {
            list-style: none;
            text-decoration: none;
          }
        }
      }
      &__ubicacion{
        grid-area: ubicacion;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        img{
          width: 50px;
          height: auto;
        }
        &-txt{
          font-size: @font-size-md;
        }
      }
    }
  }
}
