* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Raleway', sans-serif;
}
footer {
  background-color: #17acc9;
  text-decoration: none;
}
.footer__box__body {
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
      grid-template-areas: "contacto ubicacion logo" "email  email logo";
  padding: 20px;
}
.footer__box__body__contacto {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: contacto;
}
.footer__box__body__contacto-txt h2 h3 {
  text-align: left;
  font-size: 1.6rem;
}
.footer__box__body__contacto-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.footer__box__body__contacto-phone img {
  width: 22px;
  height: 22px;
}
.footer__box__body__contacto-phone-num {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
}
.footer__box__body__contacto-email {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-area: email;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.footer__box__body__contacto-email img {
  width: 20px;
  height: auto;
}
.footer__box__body__contacto-email-direccion {
  font-size: 1.6rem;
}
.footer__box__body__contacto-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.footer__box__body__contacto-redes img {
  width: 22px;
  height: auto;
}
.footer__box__body__contacto-redes-txt {
  font-size: 1.6rem;
}
.footer__box__body__logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__box__body__logo img {
  width: 110px;
  height: auto;
}
.footer__box__body__enlaces {
  display: none;
  text-decoration: none;
}
.footer__box__body__enlaces ul li {
  list-style: none;
  text-decoration: none;
}
.footer__box__body__ubicacion {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: ubicacion;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.footer__box__body__ubicacion img {
  width: 50px;
  height: auto;
}
.footer__box__body__ubicacion-txt {
  font-size: 1.6rem;
}
