{
  "name": "jmcV3",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "js/app.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "pug/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/empresa.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"empresa.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/mantenimiento.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"mantenimiento.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/login.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"login.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/formulario.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"formulario.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/pagos.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"pagos.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/vermas.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"vermas.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/clientefiltro.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"clientefiltro.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/newuserAdmin.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"newuserAdmin.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/forgot-password.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"forgot-password.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/control-clientes.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"control-clientes.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/control-soporte.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"control-soporte.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/control-pagos.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"control-pagos.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/control-contratos.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"control-contratos.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/control-ajuste.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"control-ajuste.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/control-staff.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"control-staff.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "pug",
      "html",
      "components"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "components/template-admin.pug",
      "imports": [
        "components/config.pug",
        "components/head.pug",
        "components/header-admin.pug",
        "components/footer-admin.pug"
      ]
    },
    {
      "path": "components/template.pug",
      "imports": [
        "components/config.pug",
        "components/head.pug",
        "components/header.pug",
        "components/footer.pug"
      ]
    },
    {
      "path": "css/desktop.less",
      "imports": [
        "css/variables.less",
        "css/globals.less"
      ]
    },
    {
      "path": "css/globals.less",
      "imports": [
        "css/variables.less"
      ]
    },
    {
      "path": "css/menu.less",
      "imports": [
        "css/globals.less",
        "css/variables.less"
      ]
    },
    {
      "path": "css/style.less",
      "imports": [
        "css/variables.less",
        "css/globals.less"
      ]
    },
    {
      "path": "css/tablet.less",
      "imports": [
        "css/variables.less",
        "css/globals.less"
      ]
    },
    {
      "path": "pug/adm.pug",
      "imports": [
        "pug/barra.pug"
      ]
    },
    {
      "path": "pug/banco.pug",
      "imports": [
        "pug/barra.pug"
      ]
    },
    {
      "path": "pug/caja.pug",
      "imports": [
        "pug/barra.pug"
      ]
    },
    {
      "path": "pug/coi.pug",
      "imports": [
        "pug/barra.pug"
      ]
    },
    {
      "path": "pug/contratos-cliente.pug",
      "imports": [
        "pug/inicio-cliente.pug"
      ]
    },
    {
      "path": "pug/control-ajuste.pug",
      "imports": [
        "pug/control-menuAdmin.pug"
      ]
    },
    {
      "path": "pug/control-clientes.pug",
      "imports": [
        "pug/control-menuAdmin.pug"
      ]
    },
    {
      "path": "pug/control-contratos.pug",
      "imports": [
        "pug/control-menuAdmin.pug"
      ]
    },
    {
      "path": "pug/control-pagos.pug",
      "imports": [
        "pug/control-menuAdmin.pug"
      ]
    },
    {
      "path": "pug/control-soporte.pug",
      "imports": [
        "pug/control-menuAdmin.pug"
      ]
    },
    {
      "path": "pug/control-staff.pug",
      "imports": [
        "pug/control-menuAdmin.pug"
      ]
    },
    {
      "path": "pug/detalle-equipo-cliente.pug",
      "imports": [
        "pug/inicio-cliente.pug"
      ]
    },
    {
      "path": "pug/detalle-equipo.pug",
      "imports": [
        "pug/modal-guardar.pug"
      ]
    },
    {
      "path": "pug/detalles-ticket.pug",
      "imports": [
        "pug/inicio-cliente.pug"
      ]
    },
    {
      "path": "pug/equipo-cliente.pug",
      "imports": [
        "pug/control-menuAdmin.pug"
      ]
    },
    {
      "path": "pug/equipo-nuevo.pug",
      "imports": [
        "pug/modal-guardar.pug"
      ]
    },
    {
      "path": "pug/equipos-clientes.pug",
      "imports": [
        "pug/control-menuAdmin.pug"
      ]
    },
    {
      "path": "pug/facture.pug",
      "imports": [
        "pug/barra.pug"
      ]
    },
    {
      "path": "pug/info-servicio.pug",
      "imports": [
        "pug/control-menuAdmin.pug",
        "pug/modal-servicio.pug"
      ]
    },
    {
      "path": "pug/inicioAdmin.pug",
      "imports": [
        "pug/control-menuAdmin.pug",
        "pug/inicio-cliente.pug"
      ]
    },
    {
      "path": "pug/noi.pug",
      "imports": [
        "pug/barra.pug"
      ]
    },
    {
      "path": "pug/nuevo-contrato.pug",
      "imports": [
        "pug/modal-guardar.pug"
      ]
    },
    {
      "path": "pug/nuevo-pago.pug",
      "imports": [
        "pug/modal-guardar.pug"
      ]
    },
    {
      "path": "pug/nuevo-servicio.pug",
      "imports": [
        "pug/control-menuAdmin.pug",
        "pug/modal-guardar.pug"
      ]
    },
    {
      "path": "pug/nuevo-staff.pug",
      "imports": [
        "pug/control-menuAdmin.pug",
        "pug/modal-guardar.pug"
      ]
    },
    {
      "path": "pug/pagos-cliente.pug",
      "imports": [
        "pug/inicio-cliente.pug"
      ]
    },
    {
      "path": "pug/prod.pug",
      "imports": [
        "pug/barra.pug"
      ]
    },
    {
      "path": "pug/registrar-nuevo.pug",
      "imports": [
        "pug/control-menuAdmin.pug",
        "pug/modal.pug"
      ]
    },
    {
      "path": "pug/sae.pug",
      "imports": [
        "pug/barra.pug"
      ]
    },
    {
      "path": "pug/tickets-cliente.pug",
      "imports": [
        "pug/inicio-cliente.pug"
      ]
    },
    {
      "path": "pug/ver-cliente.pug",
      "imports": [
        "pug/control-menuAdmin.pug",
        "pug/botones-admin.pug",
        "pug/modal.pug"
      ]
    },
    {
      "path": "pug/ver-pago.pug",
      "imports": [
        "pug/modal-pago.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7884,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}