footer 
  .footer__box
    .footer__box__body
      h2 JMC Soluciones
      .footer__box__body__logo 
        .footer__box__body__logo-img 
          img(src="/Images/Icons/jmc.svg", alt="LogoJMC" id="logoJMC")
script(src="../js/app.js")