
<footer>
  <div class="footer__box">
    <div class="footer__box__body">
      <div class="footer__box__body__contacto">
        <div class="footer__box__body__contacto-txt">
          <h2>¿Tienes alguna duda?</h2>
          <h3>Llámanos </h3>
        </div>
        <div class="footer__box__body__contacto-phone"> 
          <div class="footer__box__body__contacto-phone-img"> <img src="/imagenes/telefono-icono.svg" alt="icono de telefono"/></div>
          <div class="footer__box__body__contacto-phone-num"> 
            <p>449 386 2691 </p>
          </div>
        </div>
        <div class="footer__box__body__contacto-email">
          <div class="footer__box__body__contacto-email-img"><img src="/imagenes/mail-icono.svg" alt="icono de correo"/></div>
          <div class="footer__box__body__contacto-email-direccion"> 
            <p>proyectos@jmcsoluciones.com</p>
          </div>
        </div>
        <div class="footer__box__body__contacto-redes">
          <div class="footer__box__body__contacto-redes-icon"><a href="#"> </a><img src="/imagenes/facebook-icon.svg" alt="Ícono de facebook" id="logoFacebook"/></div>
          <div class="footer__box__body__contacto-redes-txt">
            <p>JMC Soluciones</p>
          </div>
        </div>
      </div>
      <div class="footer__box__body__logo"> 
        <div class="footer__box__body__logo-img"> <img src="/imagenes/logo.svg" alt="LogoJMC" id="logoJMC"/></div>
      </div>
      <div class="footer__box__body__enlaces">
        <ul> 
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Soluciones Web </a></li>
          <li><a href="#">Polizas de mantenimiento</a></li>
          <li><a href="#">Aspel</a></li>
          <li><a href="#">Empresa</a></li>
          <li><a href="https://jmcsoluciones.com/privacidad/">Politicas de privacidad</a></li>
        </ul>
      </div>
      <div class="footer__box__body__ubicacion"> 
        <div class="footer__box__body__ubicacion-img"> <img src="/imagenes/ubicacion-icon.svg" alt="ícono de ubicación" id="logoUbicacion"/></div>
        <div class="footer__box__body__ubicacion-txt">
          <p>Juan de la Barrera #108-B, Col. Héroes, CP.20190 Aguascalientes,Ags.            </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="../js/app.js"></script>