footer
    .footer__box
        .footer__box__body
            .footer__box__body__contacto
                .footer__box__body__contacto-txt
                    h2 ¿Tienes alguna duda?
                    h3#call Llámanos 
                .footer__box__body__contacto-phone 
                    .footer__box__body__contacto-phone-img 
                        img(src="/Images/Icons/telefono-icono.svg", alt="icono de telefono")
                    .footer__box__body__contacto-phone-num 
                        p 449 386 2691 
                .footer__box__body__contacto-email
                    .footer__box__body__contacto-email-img
                        img(src="/Images/Icons/mail-icono.svg", alt="icono de correo")
                    .footer__box__body__contacto-email-direccion 
                        p proyectos@jmcsoluciones.com
                .footer__box__body__contacto-redes
                    .footer__box__body__contacto-redes-icon
                        a(href="https://www.facebook.com/jmcsoluciones") 
                            img(src="/Images/Icons/facebook-icon.svg", alt="Ícono de facebook" id="logoFacebook")
                    .footer__box__body__contacto-redes-txt
                        p JMC Soluciones
            .footer__box__body__logo 
                .footer__box__body__logo-img 
                    img(src="/Images/Icons/jmc.svg", alt="LogoJMC" id="logoJMC")
            .footer__box__body__enlaces
                ul 
                    li
                        a(href='sWeb.html') Soluciones Web 
                    li
                        a(href='mantenimiento.html') Polizas de mantenimiento
                    li
                        a(href='menuAspel.html') Aspel
                    li
                        a(href='empresa.html') Empresa
                    li
                        a(href="https://jmcsoluciones.com/privacidad/") Politicas de privacidad
            .footer__box__body__ubicacion 
                .footer__box__body__ubicacion-img 
                    img(src="/Images/Icons/ubicacion-icon.svg", alt="ícono de ubicación" id="logoUbicacion")
                .footer__box__body__ubicacion-txt
                    p Juan de la Barrera #108-B, Col. Héroes, CP.20190 Aguascalientes,Ags.            
script(src="../js/app.js")