
<header>
  <nav class="menu"> 
    <section class="menu__container"> <img class="menu__logo" src="imagenes/logo.png" alt="Logo de la empresa" id="logo"/>
      <ul class="menu__links">
        <li class="menu__item"><a class="menu__link" href="index.html">Inicio<img src="/Images/Icons/home.svg"/></a></li>
        <li class="menu__item"><a class="menu__link" href="empresa.html">Clientes<img src="/Images/Icons/clientes.svg"/></a></li>
        <li class="menu__item"> <a class="menu__link" href="sWeb.html">Pagos<img src="/Images/Icons/pagos.svg"/></a></li>
        <li class="menu__item"> <a class="menu__link" href="menuAspel.html">Contratos<img src="/Images/Icons/contratos.svg"/></a></li>
        <li class="menu__item"></li><a class="menu__link" href="mantenimiento.html">Soporte<img src="/Images/Icons/soporte.svg"/></a>
        <li class="menu__item"><a class="menu__link" href="mantenimiento.html">Ajustes<img src="/Images/Icons/ajustes.svg"/></a></li>
      </ul>
      <div class="menu__hamburger"><img class="menu__img" src="imagenes/menu.svg" alt="icono de menu" id="menu"/></div>
    </section>
    <div class="menu__botones"> 
      <div class="menu__botones-clientes"><img src="/Images/Icons/clientes.svg" alt="clientes"/>
        <p>Clientes</p>
      </div>
      <div class="menu__botones-soporte"><img src="/Images/Icons/soporte.svg" alt="soporte"/>
        <p>Soporte</p>
      </div>
      <div class="menu__botones-pagos"><img src="/Images/Icons/pagos.svg" alt="pagos"/>
        <p>Pagos</p>
      </div>
      <div class="menu__botones-contratos"><img src="/Images/Icons/contratos.svg" alt="contratos"/>
        <p>Contratos</p>
      </div>
      <div class="menu__botones-ajustes"><img src="/Images/Icons/ajustes.svg" alt="Ajustes"/></div>
    </div>
  </nav>
</header>