
<header>
  <div class="menu-top"> <a class="menu-top__link" href="login.html">Cerrar Sesión </a></div>
  <nav class="menu"> 
    <section class="menu__container"> <img class="menu__logo" src="imagenes/logo.png" alt="Logo de la empresa" id="logo"/>
      <ul class="menu__links">
        <li class="menu__item"><a class="menu__link" href="inicioAdmin.html">Inicio</a></li>
        <li class="menu__item"><a class="menu__link" href="contratos-cliente.html">Contratos</a></li>
        <li class="menu__item"> <a class="menu__link" href="pagos-cliente.html">Pagos</a></li>
        <li class="menu__item"> <a class="menu__link" href="tickets-cliente.html">Tickets </a></li>
        <li class="menu__item"><a class="menu__link" href="equipo-cliente.html">Equipos</a></li>
      </ul>
      <div class="menu__hamburger"><img class="menu__img" src="imagenes/menu.svg" alt="icono de menu" id="menu"/></div>
    </section>
  </nav>
</header>