header
	nav.menu 
		section.menu__container 
			img(src="imagenes/logo.png", alt="Logo de la empresa", id="logo").menu__logo
			ul.menu__links 
				li.menu__item 
					a(href='index.html').menu__link Inicio
				li.menu__item 
					a(href='empresa.html').menu__link Empresa
				li.menu__item 
					a(href='sWeb.html').menu__link Soluciones Web 
				li.menu__item 
					a(href='menuAspel.html').menu__link Aspel
				li.menu__item 
					a(href='mantenimiento.html').menu__link Mantenimiento
				li.menu__item 
					a(href='mantenimiento.html').menu__link Mantenimiento
			.menu__hamburger 
				img(src="imagenes/menu.svg", alt="icono de menu", 	id="menu").menu__img