
<header>
  <nav class="menu"> 
    <section class="menu__container"> <img class="menu__logo" src="imagenes/logo.png" alt="Logo de la empresa" id="logo"/>
      <ul class="menu__links"> 
        <li class="menu__item"> <a class="menu__link" href="index.html">Inicio</a></li>
        <li class="menu__item"> <a class="menu__link" href="empresa.html">Empresa</a></li>
        <li class="menu__item"> <a class="menu__link" href="sWeb.html">Soluciones Web </a></li>
        <li class="menu__item"> <a class="menu__link" href="menuAspel.html">Aspel</a></li>
        <li class="menu__item"> <a class="menu__link" href="mantenimiento.html">Mantenimiento</a></li>
        <li class="menu__item"> <a class="menu__link" href="mantenimiento.html">Mantenimiento</a></li>
      </ul>
      <div class="menu__hamburger"> <img class="menu__img" src="imagenes/menu.svg" alt="icono de menu" id="menu"/></div>
    </section>
  </nav>
</header>