extend ../components/template.pug
block content
  .beneficiosPROD
    .barraFlotante
      nav
        ul
          li
            a(href='beneficiosSAE.html')
              img(src="/imagenes/SAE.png", alt="Aspel SAE")
          li
            a(href='beneficiosCOI.html')
              img(src="/imagenes/COI.png", alt="Aspel COI")
          li
            a(href='beneficiosNOI.html')
              img(src="/imagenes/NOI.png", alt="Aspel NOI")
          li
            a(href='beneficiosADM.html')
              img(src="/imagenes/ADM.png", alt="Aspel ADM")
          li
            a(href='beneficiosFACTURE.html')
              img(src="/imagenes/FACT.png", alt="Aspel FACT")     
          li
            a(href='beneficiosCAJA.html')
              img(src="/imagenes/CAJA.png", alt="Aspel CAJA")
          li
            a(href='beneficiosPROD.html')
              img(src="/imagenes/PROD.png", alt="Aspel PROD")
          li
            a(href='beneficiosBANCO.html')
              img(src="/imagenes/BANCO.png", alt="Aspel BANCO")
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/BANCO.png", alt="")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
            a(href="beneficiosBANCO.html") Beneficios
          .desarrollo__inicio__button-funciones
            a(href="funcionesBANCO.html") Funciones
          .desarrollo__inicio__button-precios
            a(href="preciosBANCO.html") Precios
      .desarrollo__video 
        video(src="/videos/Aspel BANCO - El control efectivo de tu dinero.mp4" controls) 
      .desarrollo__body
        .desarrollo__body-descripcion 
          h2 Descripcion del producto 
          p #[strong Controla eficientemente ]los ingresos, egresos de cualquier cuenta bancaria, en moneda nacional y extranjera. Ofrece #[strong información financiera] en todo momento como estados de cuenta, diarios de bancos y flujo de efectivo. Todos los movimientos bancarios se contabilizan automáticamente en su interfaz con Aspel COI atendiendo los requisitos de la Contabilidad Electrónica. Además, permite la programación de movimientos periódicos, así como una eficiente conciliación de las operaciones bancarias. Para una mayor eficiencia administrativa e integridad de la información con Aspel SAE ofrece la afectación simultánea de las cuentas por cobrar y/o por pagar al registrar los movimientos bancarios y con Aspel NOI posibilita la generación automática de los cheques para el pago de nómina.
        .desarrollo__body-button
            a(href="formulario.html") Mas informacion 
