extend ../components/template.pug
block content
  .beneficiosFACTURE
    .barraFlotante
      nav
        ul
          li
            a(href='beneficiosSAE.html')
              img(src="/imagenes/SAE.png", alt="Aspel SAE")
          li
            a(href='beneficiosCOI.html')
              img(src="/imagenes/COI.png", alt="Aspel COI")
          li
            a(href='beneficiosNOI.html')
              img(src="/imagenes/NOI.png", alt="Aspel NOI")
          li
            a(href='beneficiosADM.html')
              img(src="/imagenes/ADM.png", alt="Aspel ADM")
          li
            a(href='beneficiosFACTURE.html')
              img(src="/imagenes/FACT.png", alt="Aspel FACT")     
          li
            a(href='beneficiosCAJA.html')
              img(src="/imagenes/CAJA.png", alt="Aspel CAJA")
          li
            a(href='beneficiosPROD.html')
              img(src="/imagenes/PROD.png", alt="Aspel PROD")
          li
            a(href='beneficiosBANCO.html')
              img(src="/imagenes/BANCO.png", alt="Aspel BANCO")
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/FACT.png", alt="")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
            a(href="beneficiosFACTURE.html") Beneficios
          .desarrollo__inicio__button-funciones
            a(href="funcionesFACTURE.html") Funciones
          .desarrollo__inicio__button-precios
            a(href="preciosFACTURE.html") Precios
      .desarrollo__video 
        video(src="/videos/Aspel FACTURE - Haz más fáciles y rápidos tus procesos de Facturación.mp4" controls) 
      .desarrollo__body
        .desarrollo__body-descripcion 
          h2 Descripcion del producto 
          p Aspel FACTURE genera de forma segura y en segundos Comprobantes Fiscales Digitales por Internet 3.3 (CFDI) sin importar tu profesión o giro comercial, de acuerdo con las disposiciones fiscales vigentes. Captura fácilmente facturas, notas de crédito, recibos de honorarios, de arrendamiento y otros comprobantes de ingreso y egreso. También emite comprobantes con múltiples complementos de retención e información de pagos, así como complementos fiscales.
        .desarrollo__body-button 
            a(href="formulario.html") Mas informacion 