extend ../components/template.pug
block content
  .beneficiosADM
    .barraFlotante
      nav
        ul
          li
            a(href='beneficiosSAE.html')
              img(src="/imagenes/SAE.png", alt="Aspel SAE")
          li
            a(href='beneficiosCOI.html')
              img(src="/imagenes/COI.png", alt="Aspel COI")
          li
            a(href='beneficiosNOI.html')
              img(src="/imagenes/NOI.png", alt="Aspel NOI")
          li
            a(href='beneficiosADM.html')
              img(src="/imagenes/ADM.png", alt="Aspel ADM")
          li
            a(href='beneficiosFACTURE.html')
              img(src="/imagenes/FACT.png", alt="Aspel FACT")     
          li
            a(href='beneficiosCAJA.html')
              img(src="/imagenes/CAJA.png", alt="Aspel CAJA")
          li
            a(href='beneficiosPROD.html')
              img(src="/imagenes/PROD.png", alt="Aspel PROD")
          li
            a(href='beneficiosBANCO.html')
              img(src="/imagenes/BANCO.png", alt="Aspel BANCO")
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/ADM.png", alt="")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
            a(href='beneficiosADM.html') Beneficios
          .desarrollo__inicio__button-funciones
            a(href='funcionesADM.html') Funciones
          .desarrollo__inicio__button-precios
            a(href='preciosADM.html') Precios
      .desarrollo__video 
        video(src="/videos/Demo Aspel ADM  Sistema de Administración Móvil_720p.mp4" controls) 
      .desarrollo__body
        .desarrollo__body-descripcion 
          h2 Descripcion del producto 
          p Aspel ADM es la app que revoluciona el control administrativo de las empresas desde la nube. Gestiona las principales operaciones de compra-venta y factura desde cualquier lugar y en todo momento de manera fácil, eficiente y segura. Incluye ADM Tienda para llevar el control de tu punto de venta desde la practicidad de una tablet; consulta el estado de cuenta de tus clientes, factura tus ventas del día y conoce las existencias de tus productos en tiempo real. Es ideal para Pymes, emprendedores y startups que inician operaciones o que desean consolidar su crecimiento. ¡Haz que tu negocio sea más productivo y genere mayores ingresos! 
        .desarrollo__body-button 
            a(href='formulario.html') Mas informacion 