extend ../components/template.pug
block content
  .beneficiosCOI
    .barraFlotante
      nav
        ul
          li
            a(href='beneficiosSAE.html')
              img(src="/imagenes/SAE.png", alt="Aspel SAE")
          li
            a(href='beneficiosCOI.html')
              img(src="/imagenes/COI.png", alt="Aspel COI")
          li
            a(href='beneficiosNOI.html')
              img(src="/imagenes/NOI.png", alt="Aspel NOI")
          li
            a(href='beneficiosADM.html')
              img(src="/imagenes/ADM.png", alt="Aspel ADM")
          li
            a(href='beneficiosFACTURE.html')
              img(src="/imagenes/FACT.png", alt="Aspel FACT")     
          li
            a(href='beneficiosCAJA.html')
              img(src="/imagenes/CAJA.png", alt="Aspel CAJA")
          li
            a(href='beneficiosPROD.html')
              img(src="/imagenes/PROD.png", alt="Aspel PROD")
          li
            a(href='beneficiosBANCO.html')
              img(src="/imagenes/BANCO.png", alt="Aspel BANCO")
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/NOI.png", alt="")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
            a(href="#") Beneficios
          .desarrollo__inicio__button-funciones
            a(href="#") Funciones
          .desarrollo__inicio__button-precios
            a(href="#") Precios
      .desarrollo__video 
        video(src="/videos/Aspel NOI - Optimiza el manejo de la nómina y capital humano.mp4" controls) 
      .desarrollo__body
        .desarrollo__body-descripcion 
          h2 Descripcion del producto 
          p Aspel NOI, el talento necesita administrase. #[br] #[br] Aspel NOI te ofrece un cálculo exacto de las percepciones y deducciones de los trabajadores de acuerdo con las disposiciones fiscales y laborales vigentes. Genera Comprobantes Fiscales Digitales por Internet (CFDI 3.3) de los Recibos de Nómina y asimilables a salarios.
        .desarrollo__body-button 
            a(href="#") Mas informacion  