extend ../components/template.pug
block content
  include barra.pug
  .beneficiosCOI
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/NOI.png", alt="")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
            a(href="beneficiosNOI.html") Beneficios
          .desarrollo__inicio__button-funciones
            a(href="funcionesNOI.html") Funciones
          .desarrollo__inicio__button-precios
            a(href="preciosNOI.html") Precios
      .desarrollo__video 
        video(src="/videos/Aspel NOI - Optimiza el manejo de la nómina y capital humano.mp4" controls) 
      .desarrollo__body
        .desarrollo__body-descripcion 
          h2 Descripcion del producto 
          p Aspel NOI, el talento necesita administrase. #[br] #[br] Aspel NOI te ofrece un cálculo exacto de las percepciones y deducciones de los trabajadores de acuerdo con las disposiciones fiscales y laborales vigentes. Genera Comprobantes Fiscales Digitales por Internet (CFDI 3.3) de los Recibos de Nómina y asimilables a salarios.
        .desarrollo__body-button 
            a(href="formulario.html") Mas informacion  