extend ../components/template.pug
block content
  include barra.pug
  .beneficiosSAE
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/SAE.png", alt="")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
            a(href='beneficiosSAE.html') Beneficios
          .desarrollo__inicio__button-funciones
            a(href='funcionesSAE.html') Funciones
          .desarrollo__inicio__button-tienda
            a(href='tiendaSAE.html') Tienda en linea
          .desarrollo__inicio__button-precios
            a(href='preciosSAE.html') Precios 
      .desarrollo__video 
        video(src="/videos/Nuevo Aspel SAE - Digitaliza tu empresa y empieza a vender en línea.mp4" controls) 
      .desarrollo__body
        .desarrollo__body-descripcion 
          h2 Descripcion del producto 
          p Software administrativo que controla el ciclo de todas las operaciones de compra-venta de la empresa como: inventarios, servicios, clientes, facturación, cuentas por cobrar, vendedores, compras, proveedores y cuentas por pagar.
        .desarrollo__body-funcion 
          h2 Principales Funcionalidades 
          ul 
            li Control de inventarios y servicios
            li Administración de compras y ventas
            li comprobantes fiscales CFDI 4.0
            li Facturación electrónica ilimitada
            li  Carta porte
            li Conexión con tiendas en línea (comercio electrónico)
            li Manejo de proveedores
            li  Seguimiento de clientes
            li  Útiles reportes y estadísticas 
            li Punto de venta
            li  Movilidad empresarial
        .desarrollo__body-button 
            a(href="formulario.html") Mas informacion 

