extend ../components/template.pug
block content
  .beneficiosPROD
    .barraFlotante
      nav
        ul
          li
            a(href='beneficiosSAE.html')
              img(src="/imagenes/SAE.png", alt="Aspel SAE")
          li
            a(href='beneficiosCOI.html')
              img(src="/imagenes/COI.png", alt="Aspel COI")
          li
            a(href='beneficiosNOI.html')
              img(src="/imagenes/NOI.png", alt="Aspel NOI")
          li
            a(href='beneficiosADM.html')
              img(src="/imagenes/ADM.png", alt="Aspel ADM")
          li
            a(href='beneficiosFACTURE.html')
              img(src="/imagenes/FACT.png", alt="Aspel FACT")     
          li
            a(href='beneficiosCAJA.html')
              img(src="/imagenes/CAJA.png", alt="Aspel CAJA")
          li
            a(href='beneficiosPROD.html')
              img(src="/imagenes/PROD.png", alt="Aspel PROD")
          li
            a(href='beneficiosBANCO.html')
              img(src="/imagenes/BANCO.png", alt="Aspel BANCO")
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/PROD.png", alt="")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
<<<<<<< HEAD
<<<<<<< HEAD
            a(href='beneficiosPROD.html') Beneficios
          .desarrollo__inicio__button-funciones
            a(href='funcionesPROD.html') Funciones
          .desarrollo__inicio__button-precios
            a(href='preciosPROD.html') Precios 
=======
=======
>>>>>>> 0d49ecd (Beneficios de los sistemas Aspel listo)
            a(href="#") Beneficios
          .desarrollo__inicio__button-funciones
            a(href="#") Funciones
          .desarrollo__inicio__button-precios
            a(href="#") Precios
<<<<<<< HEAD
>>>>>>> 0d49ecd (Beneficios de los sistemas Aspel listo)
=======
>>>>>>> 0d49ecd (Beneficios de los sistemas Aspel listo)
      .desarrollo__video 
        video(src="/videos/Demo PROD 4.0 - Sistema de Control de Producción.mp4" controls) 
      .desarrollo__body
        .desarrollo__body-descripcion 
          h2 Descripcion del producto 
          p Aspel PROD permite la planeación y control de los procesos de fabricación de la empresa, asegurando una óptima administración de inventarios y costos. Proporciona, además, un eficiente seguimiento a las órdenes de producción, mejorando los tiempos de entrega. Actualiza y procesa la información de manera rápida al integrarse con la base de datos de Aspel SAE, de donde obtiene la materia prima y sub-ensambles para realizar los procesos de producción y, posteriormente, actualizar el inventario con los productos terminados.
        .desarrollo__body-button
            a(href="#") Mas informacion 
