.dropdown
  a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') Menú
  ul.dropdown-menu(aria-labelledby='dropdownMenuLink')
    li
      a.dropdown-item(href='contratos-cliente.html') Contratos
    li
      a.dropdown-item(href='pagos-cliente.html') Pagos
    li
      a.dropdown-item(href='tickets-cliente.html') Tickets
    li 
      a.dropdown-item(href='#') Imprimir 
    li 
      a.dropdown-item(href='equipo-cliente.html') Equipos