extend ../components/template-admin.pug
block content
  .busqueda_pagos 
    h2 Resultado de la busqueda
    .content 
      .content_buscar 
        .content__buscar__body
          .table-wrapper.content__buscar__body__table
            table.table.table-striped.table-hover
              thead 
                tr                  
                  th Id
                  th Nombre
                  th Servicio 
                  th Fecha
                  th Detalles
              tbody 
                tr 
                  td 01
                  td Josue Martinez
                  td Aspel 
                  td 30/11/2023
                  td
                    a(href="ver-cliente.html") ver más... 
                tr 
                  td 02
                  td cliente 2
                  td AWS
                  td 23/octubre/2023
                  td 
                    a(href="ver-cliente.html") ver más... 
        button.btn.btn-exit(onclick='paginaInicio()')#salir Salir

  script(src="../js/inicio.js")
