extend ../components/template.pug
block content
  include barra.pug
  .coi
    .desarrollo 
      h1 Aspel COI
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/Images/COI.png", alt="")
        .desarrollo__inicio-video 
          video(src="/videos/Demo Aspel COI 8.0 - Sistemas de Contabilidad Integral.mp4" controls) 
      .desarrollo__button
          ul#myTab.nav.nav-tabs(role='tablist')
            li.nav-item(role='presentation')
              button#beneficios-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#beneficios-tab-pane' type='button' role='tab' aria-controls='beneficios-tab-pane' aria-selected='true') Beneficios
            li.nav-item(role='presentation')
              button#funciones-tab.nav-link(data-bs-toggle='tab' data-bs-target='#funciones-tab-pane' type='button' role='tab' aria-controls='funciones-tab-pane' aria-selected='false') Funciones
            li.nav-item(role='presentation')
              button#precios-tab.nav-link(data-bs-toggle='tab' data-bs-target='#precios-tab-pane' type='button' role='tab' aria-controls='precios-tab-pane' aria-selected='false') Precios
          #myTabContent.tab-content
            #beneficios-tab-pane.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='beneficios-tab' tabindex='0')
              h2 Descripcion del producto 
              p Aspel COI es el Sistema de Contabilidad Integral que #[strong procesa, integra y mantiene actualizada la información contable y fiscal] de tu empresa de forma segura y confiable. 

              p Te ayuda a cumplir fácilmente con las #[strong disposiciones fiscales para el registro y envío de la Contabilidad Electrónica]. Conoce y evalúa en cualquier momento la situación financiera de tu negocio a través de los diversos reportes, documentos y gráficas que te proporciona. 

              p Lleva un #[strong control de los gastos, ingresos y presupuestos] en diferentes monedas; y genera oportunamente la información necesaria para la preparación de tus declaraciones de impuestos como IVA, ISR y DIOT. 

              p Ahora, su nueva versión te ayuda a #[strong proteger más tu Contabilidad] porque identifica en automático a las Empresas que Facturan Operaciones Inexistentes o EFOS y a validar la situación fiscal de tus socios comerciales.
            #funciones-tab-pane.tab-pane.fade(role='tabpanel' aria-labelledby='funciones-tab' tabindex='0')
              h2 Sistema de Contabilidad Integral
              p Aspel COI es un sistema que #[strong integra, procesa y mantiene] al día la información fiscal y contable de su empresa en forma confiable y segura. Cumpliendo con todas las especificaciones y funciones para el correcto manejo de la nueva contabilidad electrónica, con base en las disposiciones fiscales vigentes.

              p Genera distintos reportes, gráficas y documentos de trabajo que permiten determinar la situación financiera de cada empresa, así como generar las diferentes #[strong declaraciones fiscales] e informativas (IVA, ISR y DIOT).

              p Con el sistema de Aspel COI lleva los registros y asocia los comprobantes a los asientos contables, incluyendo los CFDI, para el cumplimiento del manejo de la contabilidad electrónica, en medios electrónicos, de acuerdo a las #[strong Reformas Fiscales vigentes]. Controla los ingresos, gastos y presupuestos de cada uno de los centros de costos, proyecto o departamento, utilizando diferentes monedas.

              p Permite conocer la #[strong situación financiera] en cualquier momento a través de consultas y reportes como el balance general y el estado de resultados.
            #precios-tab-pane.tab-pane.fade(role='tabpanel' aria-labelledby='precios-tab' tabindex='0')
              h2 Suscripción
              h3 Sistema de Nómina Integral  
              p   
                | #[strong Versión]:9.0   #[br]
                | #[strong Categoría]:Servicios de Telecomunicaciones y Tecnología
                |#[strong Solución de Escritorio.] #[br]
                | #[strong Especialidad]:  Contabilidad #[br]
              h3 Características generales del producto 
              ul 
                li Procesa, integra y mantiene actualizada la información contable y fiscal atendiendo todos los requisitos de la Contabilidad Electrónica. 
                li Valida en automático los RFC de terceros directamente desde la lista negra del SAT (EFOS). 
                li  Controla los CFDI de gastos corporativos, desde cualquier lugar.  
                li  Analiza reportes comparativos de estados financieros anuales o por periodo. 
                li Obtén útiles reportes de IEPS e IVA fronterizo.      
    .boton#infobtn  
      button.btn.btn-info(onclick='info()')#info ?

