extend ../components/template-admin.pug
block content
    include control-menuAdmin.pug
    .container__controlstaff
      .container__controlstaff__administrador
        .container__controlstaff__administrador-wrapper
            .container__controlstaff__administrador__title
                h1 Control de ajustes
                .container__controlstaff__administrador__title__box
                    a(href="control-ajuste.html") Servicios
                        img.staff(src="/Images/Icons/servicio.svg", alt="ajustes de servicio")
                .container__controlstaff__administrador__title__box
                    a(href="control-staff.html") Staff
                        img.staff(src="/Images/Icons/staff.svg", alt="ajustes de staff") 
            .container__controlstaff__administrador__title
                h2 Control de staff
                button.btn.btn-staff(type='button' data-bs-toggle='modal' data-bs-target='#Modalstaff' ) add 
            table.table.table-striped.table-hover
                thead
                   tr
                        th
                        th Id
                        th Nombre
                        th Dirección
                        th Detalles
                        th Acción
                tbody
                    tr
                        td
                        td 1
                        td Fran Wilson
                        td 89 Chiaroscuro Rd, Portland, USA 
                        td
                            button.btn-vr(type='button' data-bs-toggle='modal' data-bs-target='#Modalvr') ver más....    
                        td
                            i.material-icons.btn-mr(data-bs-toggle='modal' data-bs-target='#Modalmr') &#xE254;
                            i.material-icons.btn-de(data-bs-toggle='modal' data-bs-target='#Modalde') &#xE872;
                    tr
                        td
                        td 2
                        td 
                        td 
                        td
                            button.btn-vr(type='button' data-bs-toggle='modal' data-bs-target='#Modalvr') ver más....    
                        td
                            i.material-icons.btn-mr(data-bs-toggle='modal' data-bs-target='#Modalmr') &#xE254;
                            i.material-icons.btn-de(data-bs-toggle='modal' data-bs-target='#Modalde') &#xE872;
                    tr
                        td
                        td 3
                        td 
                        td 
                        td
                           button.btn-vr(type='button' data-bs-toggle='modal' data-bs-target='#Modalvr') ver más....    
                        td
                            i.material-icons.btn-mr(data-bs-toggle='modal' data-bs-target='#Modalmr') &#xE254;
                            i.material-icons.btn-de(data-bs-toggle='modal' data-bs-target='#Modalde') &#xE872;
                    tr
                        td
                        td 4
                        td 
                        td 
                        td
                            button.btn-vr(type='button' data-bs-toggle='modal' data-bs-target='#Modalvr') ver más....    
                        td
                            i.material-icons.btn-mr(data-bs-toggle='modal' data-bs-target='#Modalmr') &#xE254;
                            i.material-icons.btn-de(data-bs-toggle='modal' data-bs-target='#Modalde') &#xE872;
                    tr
                        td
                        td 5
                        td 
                        td 
                        td
                            button.btn-vr(type='button' data-bs-toggle='modal' data-bs-target='#Modalvr') ver más....    
                        td
                            i.material-icons.btn-mr(data-bs-toggle='modal' data-bs-target='#Modalmr') &#xE254;
                            i.material-icons.btn-de(data-bs-toggle='modal' data-bs-target='#Modalde') &#xE872;
            .clearfix
                ul.pagination
                    li.page-item.disabled
                        a(href='#') Previous
                    li.page-item
                        a.page-link(href='#') 1
                    li.page-item
                        a.page-link(href='#') 2
                    li.page-item.active
                        a.page-link(href='#') 3
                    li.page-item
                        a.page-link(href='#') 4
                    li.page-item
                        a.page-link(href='#') 5
                    li.page-item
                        a.page-link(href='#') Next
      .botonSalir(type='button') Salir
    script(src='salir.js')