extend ../components/template-admin.pug
block content
    include control-menuAdmin.pug
    .container__controlajuste 
        include modal-modificar-servicio.pug
        .container__controlajuste__administrador
            .container__controlajuste__administrador-wrapper
                .container__controlajuste__administrador__title
                    h1 Control de ajustes
                    .container__controlajuste__administrador__title__box
                        a(href="control-ajuste.html") Servicios
                            img.staff(src="/Images/Icons/servicio.svg", alt="ajustes de servicio")
                    .container__controlajuste__administrador__title__box
                        a(href="control-staff.html") Staff
                            img.staff(src="/Images/Icons/staff.svg", alt="ajustes de staff") 
                .container__controlajuste__administrador__title
                    h2 Control de servicios
                include modal-nuevo-servicio.pug
                .container__controlajuste__administrador__table
                    table#myTable.display(cellspacing='0' width='100%')                  
                        thead      
                            tr
                                th Id
                                th Nombre
                                th Descripcion
                                th Costo
                                th Detalles
                                th Acción
                        tbody
                            tr
                                td 1
                                td Fran Wilson
                                td --------
                                td 3000 
                                td
                                    include modal-detalle-servicio.pug   
                                td
                                    a.edit(href="#modalModificarServicio" data-bs-toggle='modal')
                                        i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;

                                    a.delete(href='#deleteProductoModal' data-toggle='modal')
                                        i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
                            tr
                                td 2
                                td Josue Martinez
                                td ********
                                td 8000
                                td    
                                    include modal-detalle-servicio.pug 
                                td
                                    a.edit(href="#modalModificarServicio" data-bs-toggle='modal')
                                        i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
                                    a.delete(href='#deleteProductoModal' data-toggle='modal')
                                        i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
        button.btn.btn-exit(onclick='paginaInicio()')#botonSalir Salir

    script(src="../js/inicio.js")
    script.
        $(document).ready( function () {
        $('#myTable').DataTable();
        } );
