extend ../components/template-admin.pug
block content
    include control-menuAdmin.pug
    .ctrlSoporte
        .ctrlSoporte-box
            h3.title Control tickets generales
                button.btn-ticket(type='button' data-bs-toggle='modal' data-bs-target='#Modalticket') Nuevo 
            .content__CtrlClientes__tabs
                #myTabContent.tab-content
                    #usuario-tab-pane.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='usuario-tab', tabindex='0') 
            .ctrlSoporte__tabs
                #myTabContent.tab-content
                    #usuario-tab-pane.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='usuario-tab', tabindex='0') 
                        .ctrlSoporte__tabs__item
                            .ctrlSoporte__tabs__item__header#usuario-header
                                form.d-flex(role="search")
                                    input.form-control.me-2(type="search" placeholder="Search" aria-label="Search")#search
                                    a(href='equipos-clientes.html') 
                                        .btn.btn-dark(type="submit") Buscar
                                    a(href="#") 
                                        .btn.btn-clean(type="submit") Limpiar
                            .ctrlSoporte__tabs__item__body
                                .table-wrapper.content__ctrlSoporte__tabs__item__body__table
                                    table.table.table-striped.table-hover
                                        thead 
                                            tr                  
                                                th #
                                                th Cliente
                                                th Contrato
                                                th Servicio
                                                th Detalles 
                                                th Acciones
                                        tbody 
                                            tr 
                                                td 01
                                                td Josue Martinez
                                                td ----------
                                                td **********
                                                td
                                                    .btn-mas(type='button' data-bs-toggle='modal' data-bs-target='#Modalvermas') ver m치s...
                                                td
                                                    i.material-icons.btn-modificar(data-bs-toggle='modal' data-bs-target='#Modalmodifica')  &#xE254;
                                                    i.material-icons.btn-delete(data-bs-toggle='modal' data-bs-target='#Modaldeletee')  &#xE872;
                                            tr 
                                                td 02
                                                td cliente 2
                                                td ----------
                                                td **********
                                                td 
                                                    .btn-mas(type='button' data-bs-toggle='modal' data-bs-target='#Modalvermas') ver m치s... 
                                                td
                                                    i.material-icons.btn-modifica(data-bs-toggle='modal' data-bs-target='#Modalmodifica')  &#xE254;
                                                    i.material-icons.btn-deletee(data-bs-toggle='modal' data-bs-target='#Modaldeletee')  &#xE872;
                            .ctrlSoporte__tabs__item__footer
                                nav(aria-label='...')
                                    ul.pagination
                                        li.page-item.disabled
                                        a.page-link Previous
                                        li.page-item
                                        a.page-link(href='#') 1
                                        li.page-item.active(aria-current='page')
                                        a.page-link(href='#') 2
                                        li.page-item
                                        a.page-link(href='#') 3
                                        li.page-item
                                        a.page-link(href='#') Next   
                a(href="inicioAdmin.html") 
                    button.btn.btn-exit(type="submit")#salir Salir
        #Modalticket.modal-lg.fade(class="modal fade" tabindex='-1' aria-labelledby='modalticketLabel')
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-header
                        h1#Modagitlticket A침adir Nuevo Ticket
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        .info
                            label(for="fecha") Fecha
                            label(for="hora") Hora
                            label(for="cliente") Cliente
                                input(type='text', placeholder='Id')#cliente
                                .btn.btn-dark(type="submit") Buscar
                                .btn.btn-clean(type="submit") Limpiar
                            label(for="nombre") Nombre
                                input(type='text')#nombre
                            label(for="rfc") RFC
                                input(type='text')#rfc
                            label(for="contacto") Contacto
                                input(type='text')#contacto
                            label(for="contacto") Contrato
                                input(type='text')#contrato
                            label(for="asunto") Asunto
                                input(type='text')#asunto
                            label(for="mensaje") Mensaje
                                input(type='text')#mensaje
                            .info__archivo   
                                label(for="adjunto") Adjunto
                                input(type='file' name='archivo')#adjunto
                                .btn.btn-adj(type="submit") Adjuntar
                            label(for="staff") Staff 
                    .modal-footer
                        .botones  
                            a(href="control-soporte.html") 
                                button.btn.btn-guardar(type="submit") Guardar
                            a(href="control-soporte.html") 
                                button.btn.btn-cancelar(type="submit") Cancelar
        #Modalvermas.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='modalvermasLabel')
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-header
                        h2 Informaci칩n del Ticket
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        .detalleTicket__info 
                            label(for="fecha") Fecha
                            label(for="nombre") Nombre
                            label(for="rfc") RFC
                            label(for="contacto") Contacto 
                            label(for="contrato") Contrato
                            label(for="asunto") Asunto
                            label(for="archivo") Archivo
                    .modal-footer
                        a(href="control-soporte.html") 
                            button.btn.btn-deletee(type="submit" data-bs-toggle='modal' data-bs-target='#Modaleliminar') Eliminar
                        a(href="tickets-cliente.html") 
                            button.btn.btn-historial(type="submit") Historial
        #Modalmodifica.modal-lg.fade(class="modal fade" tabindex='-1' aria-labelledby='modalmodificaLabel')
                .modal-dialog.modal-dialog-centered
                    .modal-content
                        .modal-header
                            h1#Modagitlnuevo Modificar Ticket
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            .info
                                label(for="fecha") Fecha
                                label(for="hora") Hora
                                label(for="cliente") Cliente
                                    input(type='text', placeholder='Id')#cliente
                                    .btn.btn-dark(type="submit") Buscar
                                    .btn.btn-clean(type="submit") Limpiar
                                label(for="nombre") Nombre
                                    input(type='text')#nombre
                                label(for="rfc") RFC
                                    input(type='text')#rfc
                                label(for="contacto") Contacto
                                    input(type='text')#contacto
                                label(for="contacto") Contrato
                                    input(type='text')#contrato
                                label(for="asunto") Asunto
                                    input(type='text')#asunto
                                label(for="mensaje") Mensaje
                                    input(type='text')#mensaje
                            .info__archivo   
                                label(for="adjunto") Adjunto
                                input(type='file' name='archivo')#adjunto
                                .btn.btn-adj(type="submit") Adjuntar
                                label(for="staff") Staff 
                        .modal-footer
                            a(href="control-clientes.html")
                                button(type='submit') Guardar
                                button(data-bs-target='#exampleModalToggle' data-bs-toggle='modal' data-bs-dismiss='modal') Cancelar 
        #Modaldeletee.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='modaldelateLabel')
                .modal-dialog.modal-dialog-centered
                    .modal-content
                        .modal-header
                            h1#Modagitlnuevo Eliminar
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            form#forgotPasswordForm(onsubmit='submitForm(event)')
                            label(for='text') Desea eliminar?
                            button.btn.btn-danger(data-bs-toggle='modal' data-bs-target='#Modaleliminar') Eliminar
        #Modaleliminar.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='modaleliminarLabel')
            .modal-dialog.modal-dialog-centered
                .modal-content
                        .modal-header
                            h5#modaleliminar.modal-title  
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            h5 Eliminado!
                        .modal-footer
                            a(href="control-soporte.html") 
                                button.btn.btn-secondary#mGuardar(type="button" data-bs-dismiss="modal") Aceptar
        #Modalgr.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='modalgrLabel')
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-header
                        h5#modalgr.modal-title  
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        h5 Guardado!
                    .modal-footer
                        a(href="control-clientes.html") 
                            button.btn.btn-secondary#mGuardar(type="button" data-bs-dismiss="modal") Aceptar
        #Modalcr.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='modalcrLabel')
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-header
                        h5#modalcancelar.modal-title  
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        h5 Cancelado!
                    .modal-footer
                        .botones  
                            a(href="control-clientes.html") 
                                button.btn.btn-secondary#mGuardar(type="button" data-bs-dismiss="modal") Aceptar