extend ../components/template-admin.pug
block content
    include control-menuAdmin.pug
    .container__controlstaff
      .container__controlstaff__administrador
        .container__controlstaff__administrador-wrapper
            .container__controlstaff__administrador__title
                h1 Control de ajustes
                .container__controlstaff__administrador__title__box
                    a(href="control-ajuste.html") Servicios
                        img.staff(src="/Images/Icons/servicio.svg", alt="ajustes de servicio")
                .container__controlstaff__administrador__title__box
                    a(href="control-staff.html") Staff
                        img.staff(src="/Images/Icons/staff.svg", alt="ajustes de staff") 
            .container__controlstaff__administrador__title
                h2 Control de staff
                a.btn.btn-success(href='nuevo-staff.html')
                    i.bi.bi-plus-circle
                    span Nuevo
            .container__controlstaff__administrador__table
                table#myTable.display(cellspacing='0' width='100%')
                    thead
                        tr
                            th Id
                            th Nombre
                            th Direcci칩n
                            th Detalles
                            th Acci칩n
                    tbody
                        tr
                            
                            td 1
                            td Fran Wilson
                            td 89 Chiaroscuro Rd, Portland, USA 
                            td
                                button.btn.btn-link(type='button', class='btn btn-primary',data-toggle='modal', data-target='#verMasModal') Ver M치s...    
                            td
                                a.edit(href="#editProductoModal" data-toggle='modal')
                                    i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
                                a.delete(href='#deleteProductoModal' data-toggle='modal')
                                    i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
                        tr
                            td 2
                            td Josue Martinez
                            td 89 Chiaroscuro Rd, Portland, USA 
                            td
                                button.btn.btn-link(type='button', class='btn btn-primary',data-toggle='modal', data-target='#verMasModal') Ver M치s...   
                            td
                                a.edit(href="#editProductoModal" data-toggle='modal')
                                    i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
                                a.delete(href='#deleteProductoModal' data-toggle='modal')
                                    i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
                   
        button.botonSalir(onclick='regresar()') Salir
        script(src="../js/regresar.js")
    script.
        $(document).ready( function () {
        $('#myTable').DataTable();
        } );
 
