extend ../components/template-admin.pug
block content
    include control-menuAdmin.pug
    .content__CtrlClientes
        h3.title Control de clientes
        include modal-modificar-cliente.pug
        include modal-nuevo-cliente.pug
        .content__CtrlClientes__tabs
            #myTabContent.tab-content
                #usuario-tab-pane.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='usuario-tab', tabindex='0') 
                    .content__CtrlClientes__tabs__item
                        .content__CtrlClientes__tabs__item__body
                            .table-wrapper.content__CtrlClientes__tabs__item__body__table
                                table#myTable.display(cellspacing='0' width='100%')
                                    thead 
                                        tr                  
                                            th Id
                                            th Nombre
                                            th Correo
                                            th Detalles
                                            th Acciones
                                    tbody 
                                        tr 
                                            td 01
                                            td Josue Martinez
                                            td josue@jmcsoluciones.com
                                            td
                                                include modal-detalle-cliente.pug 
                                            td
                                                a.edit(href="#modalModificarCliente" data-bs-toggle='modal')
                                                    i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;

                                                a.delete(href='#deleteProductoModal' data-bs-toggle='modal')
                                                    i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
                                        tr 
                                            td 02
                                            td cliente 2
                                            td 23/octubre/2023
                                            td 
                                                a(href="ver-cliente.html") ver más... 
                                            td
                                                a.edit(href="#modalModificarCliente" data-bs-toggle='modal')
                                                    i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
                                                a.delete(href='#modalModificar' data-bs-toggle='modal')
                                                    i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
                       
                button.btn.btn-exit(onclick='paginaInicio()')#salir Salir
    script.
        $(document).ready( function () {
        $('#myTable').DataTable();
        } );
    script(src="../js/inicio.js")
        
