extend ../components/template-admin.pug
block content
    include control-menuAdmin.pug
    .content__CtrlClientes
        .content__CtrlClientes-box
            h3.title Control de clientes 
                button.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#Modalnuevo') Nuevo
        #Modalnuevo.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='modalnuevoLabel')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h1#Modagitlnuevo Recuperar Contraseña
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        form#forgotPasswordForm(onsubmit='submitForm(event)')
                        label(for='text') Si has olvidado tu contraseña pueder restablecera aquí
                        // Pregunta de seguridad
                        input(type='email', id='', name='', placeholder='Correo Electrónico')
                    .modal-footer
                        a(href="login.html")
                            button(type='submit') Enviar
        .content__CtrlClientes__tabs
            #myTabContent.tab-content
                #usuario-tab-pane.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='usuario-tab', tabindex='0') 
                    .content__CtrlClientes__tabs__item
                        .content__CtrlClientes__tabs__item__header#usuario-header
                            h3 Nombre
                            form.d-flex(role="search")
                                input.form-control.me-2(type="search" placeholder="Search" aria-label="Search")
                                a(href='busqueda.html') 
                                    .btn.btn-dark(type="submit") Buscar
                                input.btn-clean(type="reset" value="Limpiar") 
                        .content__CtrlClientes__tabs__item__body
                            .table-wrapper.content__CtrlClientes__tabs__item__body__table
                                table.table.table-striped.table-hover
                                    thead 
                                        tr                  
                                            th Id
                                            th Nombre
                                            th Correo
                                            th Detalles
                                            th Acciones
                                    tbody 
                                        tr 
                                            td 01
                                            td Josue Martinez
                                            td josue@jmcsoluciones.com
                                            td
                                                button.btn-mas(type='button' data-bs-toggle='modal' data-bs-target='#Modalmas') Ver más
                                            td
                                                    i.material-icons.btn-modificar(data-bs-toggle='modal' data-bs-target='#Modalmodificar')  &#xE254;
                                                    i.material-icons.btn-delete(data-bs-toggle='modal' data-bs-target='#Modaldelete')  &#xE872;
                                        tr 
                                            td 02
                                            td cliente 2
                                            td 23/octubre/2023
                                            td 
                                                button.btn-mas(type='button' data-bs-toggle='modal' data-bs-target='#Modalmas') Ver más
                                            td
                                                    i.material-icons.btn-modificar(data-bs-toggle='modal' data-bs-target='#Modalmodificar')  &#xE254;
                                                    i.material-icons.btn-delete(data-bs-toggle='modal' data-bs-target='#Modaldelete')  &#xE872;
                        .content__CtrlCotizaciones__tabs__item__footer
                            nav(aria-label='...')
                                ul.pagination
                                    li.page-item.disabled
                                    a.page-link Previous
                                    li.page-item
                                    a.page-link(href='#') 1
                                    li.page-item.active(aria-current='page')
                                    a.page-link(href='#') 2
                                    li.page-item
                                    a.page-link(href='#') 3
                                    li.page-item
                                    a.page-link(href='#') Next   
            a(href="inicioAdmin.html") 
                button.btn.btn-exit(type="submit")#salir Salir
                            //MODAL
        #Modalmodificar.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='modalmodificarLabel')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h1#Modagitlnuevo Modificar Cliente
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') &times;
                        .modal-body
                            form#forgotPasswordForm(onsubmit='submitForm(event)')
                            label(for="rfc") RFC
                                input(type='text')#rfc
                            label(for="nombre") Nombre
                                input(type='text')#name
                            label(for="direccion") Direccion
                                input(type='text')#direccion
                            label Estados
                                select(name='estado')#estado
                                    option(value='no') Seleccione un estado
                                    option(value='Aguascalientes') Aguascalientes
                                    option(value='Baja California') Baja California
                                    option(value='Baja California Sur') Baja California Sur
                                    option(value='Campeche') Campeche
                                    option(value='Chiapas') Chiapas
                                    option(value='Chihuahua') Chihuahua
                                    option(value='CDMX') Ciudad de M&eacute;xico
                                    option(value='Coahuila') Coahuila
                                    option(value='Colima') Colima
                                    option(value='Durango') Durango
                                    option(value='Estado de México') Estado de M&eacute;xico
                                    option(value='Guanajuato') Guanajuato
                                    option(value='Guerrero') Guerrero
                                    option(value='Hidalgo') Hidalgo
                                    option(value='Jalisco') Jalisco
                                    option(value='Michoacán') Michoac&aacute;n
                                    option(value='Morelos') Morelos
                                    option(value='Nayarit') Nayarit
                                    option(value='Nuevo León') Nuevo Le&oacute;n
                                    option(value='Oaxaca') Oaxaca
                                    option(value='Puebla') Puebla
                                    option(value='Querétaro') Quer&eacute;taro
                                    option(value='Quintana Roo') Quintana Roo
                                    option(value='San Luis Potosí') San Luis Potos&iacute;
                                    option(value='Sinaloa') Sinaloa
                                    option(value='Sonora') Sonora
                                    option(value='Tabasco') Tabasco
                                    option(value='Tamaulipas') Tamaulipas
                                    option(value='Tlaxcala') Tlaxcala
                                    option(value='Veracruz') Veracruz
                                    option(value='Yucatán') Yucat&aacute;n
                                    option(value='Zacatecas') Zacatecas
                            label(for="municipio") Municipio
                                input(type='text')#municipio
                            label(for="cp") Código Postal
                                input(type='number')#cp
                            label(for="rf") Régimen Fiscal
                                input(type='text')#rf
                            label(for="tel") Teléfono
                                input(type='text')#tel
                            label(for="nContacto") Nombre de contacto
                                input(type='text')#nContacto
                            label(for="email") Correo electrónico
                                input(type='email')#email
                            label(for="password") Correo electrónico
                                input(type='password')#password
                        .modal-footer
                            a(href="control-clientes.html")
                                button(type='submit') Guardar
                                button(data-bs-target='#exampleModalToggle' data-bs-toggle='modal' data-bs-dismiss='modal') Cancelar 
        #Modaldelete.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='modaldelateLabel')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h1#Modagitlnuevo Eliminar
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            form#forgotPasswordForm(onsubmit='submitForm(event)')
                            label(for='text') Desea eliminar?
                            button.btn.btn-danger(type='button') Eliminar
        #Modalmas.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='modaldelateLabel')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h2 Informacion del equipo
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') &times;
                        .modal-body
                            form#forgotPasswordForm(onsubmit='submitForm(event)')
                            label(for="nombre") Nombre 
                            label(for="direccion") Direccion 
                            label(for="estado") Estado  
                            label(for="municipio") Municipio 
                            label(for="cp") Código Postal  
                            label(for="rf") Regimen Fiscal 
                            label(for="tel") Teléfono  
                            label(for="contacto") Contacto 
                            label(for="correo") Correo Electrónico
                        .modal-footer
                            a(href="control-clientes.html")
                                button.btn.btn-danger(type='button') Eliminar