extend ../components/template-admin.pug
block content
  include control-menuAdmin.pug
  .ctrlContratos 
    h2.title Control de contratos
      a(href="nuevo-contrato.html") 
        button.btn.btn-nuevo(type="submit")#nuevo Nuevo
    .content__contratos__tabs
      #myTabContent.tab-content
        #usuario-tab-pane.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='usuario-tab', tabindex='0') 
          .content__contratos__tabs__item__body
            .table-wrapper.content__contratos__tabs__item__body__table
              table#myTable.display(cellspacing='0' width='100%')
                thead 
                  tr                  
                    th Folio
                    th Cliente
                    th Servicio
                    th Vigencia
                    th Detalles 
                    th Acción
                tbody 
                  tr 
                    td 01
                    td Josue Martinez
                    td Aspel
                    td 27 Enero 2024
                    td 
                      a(href="ver-contrato.html") ver más... 
                    td
                      a.edit(href="#editProductoModal" data-toggle='modal')
                        i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
                      a.delete(href='#deleteProductoModal' data-toggle='modal')
                        i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
                  tr 
                    td 02
                    td cliente 2
                    td Aws
                    td 23 octubre 2023
                    td 
                      a(href="ver-contrato.html") ver más... 
                    td
                      a.edit(href="#editProductoModal" data-toggle='modal')
                        i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
                      a.delete(href='#deleteProductoModal' data-toggle='modal')
                        i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
        button.btn.btn-exit(onclick='paginaInicio()')#salir Salir

  script(src="../js/inicio.js")
  script.
    $(document).ready( function () {
    $('#myTable').DataTable();
    } );
