extend ../components/template-admin.pug
block content
    include control-menuAdmin.pug
    .ctrlSoporte
        h3.title Control tickets generales
        a(href="equipo-nuevo.html") 
          button.btn.btn-nuevo(type="submit")#nuevo Nuevo ticket
        .ctrlSoporte__tabs
            #myTabContent.tab-content
                #usuario-tab-pane.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='usuario-tab', tabindex='0') 
                    .ctrlSoporte__tabs__item                            
                        .ctrlSoporte__tabs__item__body
                            .table-wrapper.content__ctrlSoporte__tabs__item__body__table
                                table#myTable.display(cellspacing='0' width='100%')
                                    thead 
                                        tr                  
                                            th #
                                            th Cliente
                                            th Contrato
                                            th Servicio
                                            th Detalles 
                                            th Acciones
                                    tbody 
                                        tr 
                                            td 01
                                            td Josue Martinez
                                            td ----------
                                            td **********
                                            td
                                                a(href="detalle-equipo.html") ver más... 
                                            td
                                                a.edit(href="#editProductoModal" data-toggle='modal')
                                                    i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
                                                a.delete(href='#deleteProductoModal' data-toggle='modal')
                                                    i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
                                        tr 
                                            td 02
                                            td cliente 2
                                            td ----------
                                            td **********
                                            td 
                                                a(href="ver-cliente.html") ver más... 
                                            td
                                                a.edit(href="#editProductoModal" data-toggle='modal')
                                                    i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
                                                a.delete(href='#deleteProductoModal' data-toggle='modal')
                                                    i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
            button.btn.btn-exit(onclick='paginaInicio()')#salir Salir

    script(src="../js/inicio.js")
    script.
        $(document).ready( function () {
        $('#myTable').DataTable();
        } );