extend ../components/template-admin.pug
block content
    include control-menuAdmin.pug
    .content__CtrlPagos
        .content__CtrlPagos-box
            h3.title Control de pagos
            button.btn-pago(type='button' data-bs-toggle='modal' data-bs-target='#Modalpago') Nuevo
            .content__CtrlPagos__tabs
                #myTabContent.tab-content
                    #usuario-tab-pane.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='usuario-tab', tabindex='0') 
                        .content__CtrlPagos__tabs__item
                            .content__CtrlPagos__tabs__item__header#usuario-header
                                form.d-flex(role="search")
                                    input.form-control.me-2(type="search" placeholder="Search" aria-label="Search")
                                    a(href='busqueda-pagos.html') 
                                        .btn.btn-dark(type="submit") Buscar
                                    input.btn-clean(type="reset" value="Limpiar") 
                            .content__CtrlPagos__tabs__item__body
                                .table-wrapper.content__CtrlPagos__tabs__item__body__table
                                    table.table.table-striped.table-hover
                                        thead 
                                            tr                  
                                                th Id
                                                th Nombre
                                                th Servicio
                                                th Detalles
                                                th Acciones
                                        tbody   
                                            tr 
                                                td 01
                                                td Josue Martinez
                                                td Aspel
                                                td
                                                    button.btn-mas(type='button' data-bs-toggle='modal' data-bs-target='#Modalvermas') ver más... 
                                                td
                                                    i.material-icons.btn-modificar(data-bs-toggle='modal' data-bs-target='#Modalcambia')  &#xE254;
                                                    i.material-icons.btn-delete(data-bs-toggle='modal' data-bs-target='#Modalelimina')  &#xE872;
                                            tr 
                                                td 02
                                                td cliente 2
                                                td AWS
                                                td 
                                                    button.btn-mas(type='button' data-bs-toggle='modal' data-bs-target='#Modalvermas') ver más... 
                                                td
                                                    i.material-icons.btn-modificar(data-bs-toggle='modal' data-bs-target='#Modalcambia')  &#xE254;
                                                    i.material-icons.btn-delete(data-bs-toggle='modal' data-bs-target='#Modalelimina')  &#xE872;
                            .content__CtrlPagos__tabs__item__footer
                                nav(aria-label='...')
                                    ul.pagination
                                        li.page-item.disabled
                                        a.page-link Previous
                                        li.page-item
                                        a.page-link(href='#') 1
                                        li.page-item.active(aria-current='page')
                                        a.page-link(href='#') 2
                                        li.page-item
                                        a.page-link(href='#') 3
                                        li.page-item
                                        a.page-link(href='#') Next   
                a(href="inicioAdmin.html") 
                    button.btn.btn-exit(type="submit")#salir Salir
        #Modalpago.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='modalpagoLabel')
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-header
                        h1#Modagitlticket Agregar pago
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        .info__header
                            label(for="fecha")#fecha Fecha de pago
                                .info__buscar
                                    form.d-flex(role="search")
                                    input.form-control.me-2(type="search" placeholder="Cliente" aria-label="Search")#search
                                    a(href='busqueda.html') 
                                        .btn.btn-dark(type="submit") Buscar
                                    input.btn-clean(type="reset" value="Limpiar") 
                                h3 Contrato
                                .info__agregar__contrato
                                    .info__agregar__contrato-tipo
                                    label(for="tipo") Tipo 
                                    select(name='contrato')
                                        option(value='no') 
                                        option(value='mensual') Mensual
                                        option(value="semestral") Semestral 
                                        option(value='anual') Anual
                                    .info__agregar__contrato-fecha
                                    label(for="fechaContrato") Fecha
                                    input(type="date")#txtDate
                                    .info__agregar__contrato-id 
                                    label(for="id") Id  
                                    input(type="text")#id 
                                h3 Servicio
                                .info__vigencia
                                    .info__vigencia-name  
                                    label(for="name")#txtName Nombre
                                        input(type="text")#nServicio
                                    .info__vigencia-date
                                    label(for="vigencia")#txtVigencia Vigencia 
                                        input(type="month" placeholder="Vigencia")#vigencia  
                                label(for="concepto" ) Concepto 
                                    input(type="text" placeholder="descripcion")#concepto 
                                label(for="total") Total a pagar 
                                    input(type="number" placeholder="$")#money
                                label(for="staff") Staff 
                                    input(type="text" placeholder="nombre")#staff 
                                .info__archivos 
                                    .info__archivos-pdf
                                    label(for="pdf") PDF 
                                        input(type="file")#pdf 
                                    .btn.btn-subir(type="submit")#subirPdf Subir
                                    .info__archivos-xml
                                    label(for="pdf") XML
                                        input(type="file")#xml 
                                    .btn.btn-subir(type="submit")#subirXml Subir      
                    .modal-footer
                        .botones  
                        a(href="control-pagos.html") 
                            button.btn-gr(type='button' data-bs-toggle='modal' data-bs-target='#Modalgr') Guardar
                            button.btn-cr(type='button' data-bs-toggle='modal' data-bs-target='#Modalcr') Cancelar
        #Modalcambia.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='modalmodificaLabel')
            .modal-dialog.modal-dialog-centered
                    .modal-content
                        .modal-header
                            h5#modalPagoLabel.modal-title Modificar #[strong Pago]
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            .content-form
                                form(action = "")
                                    .form-floating.mb-3
                                        input.form-control.form-control-lg(placeholder="cliente" type="text" name="cliente")
                                        label.form-label(for="cliente") Cliente
                                    .form-floating.mb-3
                                        input.form-control.form-control-lg(type="number" name="id"  placeholder="id")
                                        label.form-label(for="id pago") Id
                                    .form-floating.mb-3
                                        input.form-control.form-control-lg(type="text" name="servicio"  placeholder="servicio")
                                        label.form-label(for="servicio") Servicio
                                    .form-floating.mb-3
                                        input.form-control.form-control-lg(type="date" name="fPago" )
                                        label.form-label(for="fPago") 
                                    .form-floating.mb-3
                                        input.form-control.form-control-lg(type="text" name="contrato" placeholder="Ingrese tipo de contrato")
                                        label.form-label(for="contrato") Contrato
                                    .form-floating.mb-3
                                        input.form-control.form-control-lg(type="date" name="vigenciaContrato" placeholder="Ingrese la vigencia del contrato")
                                        label.form-label(for="vigenciaContrato") 
                        .modal-footer
                            a(href="control-pagos.html")
                                button.btn-gr(type='button' data-bs-toggle='modal' data-bs-target='#Modalgr') Guardar
                                button.btn-cr(type='button' data-bs-toggle='modal' data-bs-target='#Modalcr') Cancelar
        #Modalelimina.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='modaldelateLabel')
            .modal-dialog.modal-dialog-centered
                    .modal-content
                        .modal-header
                            h1#Modagitlnuevo Eliminar
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            form#forgotPasswordForm(onsubmit='submitForm(event)')
                            label(for='text') Desea eliminar?
                            button.btn.btn-deletee(type="submit" data-bs-toggle='modal' data-bs-target='#Modaleliminar') Eliminar
        #Modalgr.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='modalgrLabel')
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-header
                        h5#modalgr.modal-title  
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        h5 Guardado!
                    .modal-footer
                        a(href="control-clientes.html") 
                            button.btn.btn-secondary#mGuardar(type="button" data-bs-dismiss="modal") Aceptar
        #Modalcr.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='modalcrLabel')
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-header
                        h5#modalcancelar.modal-title  
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        h5 Cancelado!
                    .modal-footer
                        .botones  
                            a(href="control-clientes.html") 
                                button.btn.btn-secondary#mGuardar(type="button" data-bs-dismiss="modal") Aceptar
        #Modaleliminar.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='modaleliminarLabel')
            .modal-dialog.modal-dialog-centered
                .modal-content
                        .modal-header
                            h5#modaleliminar.modal-title  
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            h5 Eliminado!
                        .modal-footer
                            a(href="control-pagos.html") 
                                button.btn.btn-secondary#mGuardar(type="button" data-bs-dismiss="modal") Aceptar
        #Modalvermas.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='modalvermasLabel')
            .modal-dialog.modal-dialog-centered
                .modal-content
                        .modal-header
                            h5#modaleliminar.modal-title  
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            h5 Eliminado!
                        .modal-footer
                            a(href="control-pagos.html") 
                                button.btn.btn-secondary#mGuardar(type="button" data-bs-dismiss="modal") Aceptar