.controlMenuAdmin 
    .controlMenuAdmin__box
        .controlMenuAdmin__box__item
            a(href="control-clientes.html") Clientes
                img(src="/Images/Icons/clientes.svg" alt="")
        .controlMenuAdmin__box__item 
            a(href="control-soporte.html") Soporte
                img(src="/Images/Icons/soporte.svg", alt="")
        .controlMenuAdmin__box__item
            a(href="control-pagos.html") Pagos
                img(src="/Images/Icons/pagos.svg", alt="")
        .controlMenuAdmin__box__item
            a(href="control-contratos.html") Contratos
                img(src="/Images/Icons/contratos.svg", alt="")
        .controlMenuAdmin__box__item
            a(href="control-ajuste.html") Ajustes
                img(src="/Images/Icons/ajustes.svg", alt="")