extend ../components/template-admin.pug
block content
    include control-menuAdmin.pug
    .container__controlstaff
        
      .container__controlstaff__administrador
        .container__controlstaff__administrador-wrapper
            include modal-modificar-staff.pug
            .container__controlstaff__administrador__title
                h1 Control de ajustes
                
                .container__controlstaff__administrador__title__box
                    a(href="control-ajuste.html") Servicios
                        img.staff(src="/Images/Icons/servicio.svg", alt="ajustes de servicio")
                .container__controlstaff__administrador__title__box
                    a(href="control-staff.html") Staff
                        img.staff(src="/Images/Icons/staff.svg", alt="ajustes de staff") 
            .container__controlstaff__administrador__title
                h2 Control de staff
            include modal-nuevo-staff.pug   
            .container__controlstaff__administrador__table
                table#myTable.display(cellspacing='0' width='100%')
                    thead
                        tr
                            th Id
                            th Nombre
                            th Dirección
                            th Detalles
                            th Acción
                    tbody
                        tr
                            
                            td 1
                            td Fran Wilson
                            td 89 Chiaroscuro Rd, Portland, USA 
                            td
                                include modal-detalle-staff.pug    
                            td
                                a.edit(href="#modalModificarStaff" data-bs-toggle='modal')
                                    i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
                                a.delete(href='#deleteProductoModal' data-toggle='modal')
                                    i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
                        tr
                            td 2
                            td Josue Martinez
                            td 89 Chiaroscuro Rd, Portland, USA 
                            td
                                include modal-detalle-staff.pug      
                            td
                                a.edit(href="#modalModificarStaff" data-bs-toggle='modal')
                                    i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
                                a.delete(href='#deleteProductoModal' data-toggle='modal')
                                    i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
                   
        button.botonSalir(onclick='regresar()') Regresar
        script(src="../js/regresar.js")
    script.
        $(document).ready( function () {
        $('#myTable').DataTable();
        } );
 
