extend ../components/template-admin.pug
block content
    include control-menuAdmin.pug
    .content__CtrlPagos
        h3.title Control de pagos
        include modal-nuevo-pago.pug
        include modal-modificar-pago.pug
        .content__CtrlPagos__tabs
            #myTabContent.tab-content
                #usuario-tab-pane.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='usuario-tab', tabindex='0') 
                    .content__CtrlPagos__tabs__item                            
                        .content__CtrlPagos__tabs__item__body
                            .table-wrapper.content__CtrlPagos__tabs__item__body__table
                                table#myTable.display(cellspacing='0' width='100%')
                                    thead 
                                        tr                  
                                            th Id
                                            th Nombre
                                            th Servicio
                                            th Detalles
                                            th Acciones
                                    tbody 
                                        tr 
                                            td 01
                                            td Josue Martinez
                                            td Aspel
                                            td
                                                include modal-detalle-pago.pug
                                            td
                                                a.edit(href=" #modalModificarPago" data-bs-toggle='modal')
                                                    i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
                                                a.delete(href='#deleteProductoModal' data-toggle='modal')
                                                    i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
                                        tr 
                                            td 02
                                            td cliente 2
                                            td AWS
                                            td 
                                                include modal-detalle-pago.pug 
                                            td
                                                a.edit(href=" #modalModificarPago" data-bs-toggle='modal')
                                                    i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
                                                a.delete(href='#deleteProductoModal' data-toggle='modal')
                                                    i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;   
        button.btn.btn-exit(onclick='paginaInicio()')#salir Salir

    script(src="../js/inicio.js")
    script.
        $(document).ready( function () {
        $('#myTable').DataTable();
        } );
