extend ../components/template-admin.pug
block content
  include inicio-cliente.pug
  .contratosCliente
    h2.title Contratos
    .content__contratos__tabs
      #myTabContent.tab-content
        #usuario-tab-pane.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='usuario-tab', tabindex='0') 
          .content__contratos__tabs__item__body
            .table-wrapper.content__contratos__tabs__item__body__table
              table.table.table-striped.table-hover
                thead 
                  tr                  
                    th N°
                    th Servicio
                    th Vigencia
                    th status 
                tbody 
                  tr 
                    td 01
                    td Aspel
                    td 27 Enero 2024
                    td Activo
                  tr 
                    td 02
                    td Aws
                    td 23 octubre 2023
                    td Vencido
          .content__contratos__tabs__item__footer
            nav(aria-label='...')
              ul.pagination
                li.page-item.disabled
                a.page-link Previous
                li.page-item
                a.page-link(href='#') 1
                li.page-item.active(aria-current='page')
                a.page-link(href='#') 2
                li.page-item
                a.page-link(href='#') 3
                li.page-item
                a.page-link(href='#') Next   
          a(href="inicioAdmin.html") 
            button.btn.btn-exit(type="submit")#salir Salir