extend ../components/template-admin.pug
block content
  include inicio-cliente.pug
  .detalleTicket
    h2 Informacion del ticket
    button.btn.btn-exit(onclick='regresar()')#salir Regresar
    .detalleTicket__info 
      label(for="fecha") Fecha
      label(for="nombre") Nombre
      label(for="rfc") RFC
      label(for="contacto") Contacto 
      label(for="asunto") Asunto
      label(for="archivo") Archivo
  script(src="../js/regresar.js")     