extend ../components/template-admin.pug
block content
  .detalle 
    h2 Informacion del equipo
    a(href="inicioAdmin.html") 
      button.btn.btn-exit(type="submit")#salir Regresar
    .detalle__info 
      label Tipo de equipo
        select#tipo(name="tipo")
          option(value="no") Seleccione un tipo 
          option(value="ao") All in One 
          option(value="pc") Escritorio 
          option(value="lap") Laptop 
      label(for="marca") Marca 
        input(type="text" placeholder="Marca del equipo")#marca
      label(for="nombre") Nombre
        input(type="text" placeholder="Ingrese el nombre")#nombre
      label(for="ram") RAM 
        input(type="text" placeholder="Capacidad de memoria")#ram
      label(for="procesador") Procesador 
        input(type="text" placeholder="Inserte el procesador")#procesador
      label(for="disco")#txtDisco Disco duro
        input(type="text" placeholder="Capacidad")#capacidad 
        select#tipoDisco(name="tipoDisco")
          option(value="no") Tipo 
          option(value="hdd") HDD 
          option(value="ssd") SSD 
        input(type="text" placeholder="Uso")#uso 
      label(for="ip") Ip 
        input(type="number" placeholder="ip local")#ip
      label(for="anydesk") Anydesk 
        input(type="number" placeholder="Direccion Anydesk")#anydesk
      label(for="usuario") Usuario 
        input(type="text" placeholder="Nombre de usuario")#usuario
      h3 Antivirus
        .detalle__info__vigencia
          .detalle__info__vigencia-name  
            label(for="name")#txtName Nombre 
              input(type="text")#nAntivirus
          .detalle__info__vigencia-date
            label(for="vigencia")#txtVigencia Vigencia 
              input(type="month" placeholder="Vigencia")#vigencia  
      h3 Paqueteria Office 
        .detalle__info__office 
          .detalle__info__office-name
            label(for="office")#officeName Nombre 
              input(type="text")#nOffice
          .detalle__info__office-date
            label(for="vigencia")#txtOffice Vigencia 
              input(type="month" placeholder="Vigencia")#officeVigencia
      label(for="descripcion") Descripción 
        input(type="text" placeholder="Breve descripción")#descripcion 
    .detalle__button 
      a(href="#") 
        button.btn.btn-add(type="submit") Guardar
      a(href="control-clientes.html") 
        button.btn.btn-delete(type="submit") Eliminar
      a(href="#") 
        button.btn.btn-historial(type="submit") Historial
              