extend ../components/template.pug
block content
  .empresa
    .inicio 
      <!-- imagen de inicio/frase -->
      .inicio__contenido
        h2 #[strong ROMPEMOS] Paradigmas 
    .desarrollo
      .desarrollo__inicio
        p Ponemos la mejor tecnología informática para impulsar a las empresas al siguiente nivel
      .desarrollo__our
        .desarrollo__our-vision
          h2 Nuestra #[strong Visión]
          p Ser una de las empresas integradoras de soluciones mas importantes en toda América Latina, implementando soluciones internacionalmente tanto para micro, pequeñas y medianas empresas.
        .desarrollo__our-mision 
          h2 Nuestra #[strong Misión]
          p Desarrollar e implementar soluciones basadas en tecnología informática. Integrar soluciones de valor. Marcar diferencia.
    .do
      .do__inicio
        <!-- imagen que hacemos -->
        .do__inicio-texto
          h2 ¿Qué hacemos #[strong REALMENTE]?
      .do__descripcion
        .do__descripcion__txt
          p En concreto. Damos soluciones a todas las empresas mediante tecnología informática. Desarrollamos desde su sitio en internet, hasta una aplicación a la medida. Automatizamos sus operaciones internas. 
        .do__descripcion__txt__soluciones
          h2 Soluciones #[strong Web] 
          ul 
            li Dominios 
            li Hosting 
            li Desarrollo Web 
            li Certificados SSL 
            li Seguridad 
            li Correo electronico empresarial 
         
        .do__descripcion__txt__sadmin 
          h2 Software #[strong Administrativo]
          ul  
            li Ventas 
            li Compras 
            li Inventarios 
            li Contabilidad 
            li Nómina y más 

        .do__descripcion__txt__mantenimiento 
          <!-- revisar jmc soluciones para reviassr la informacion -->
          h2 #[strong Mantenimiento]
          ul 
            li Dominios 
            li Hosting 
            li Desarrollo Web 
            li Certificados SSL 
            li Seguridad 
            li Correo electronico empresarial 
    .start 
      .start__banner
        .start__banner-img 
          h2 ¡#[strong Comenzamos] operaciones!
      .start__txt
        .start__txt-inicio 
          p Tenemos un comienzo reciente. #[strong JMC Soluciones nace en el año 2017] como una empresa dedicada y comprometida a ofrecer soluciones tecnológicas a pequeñas y medianas empresas, cumpliendo con los más #[strong altos niveles de calidad] en la implementación de soluciones basadas tanto en software como en hardware. 
            
          p Desde entonces, hemos establecido #[strong relaciones comerciales y profesionales] con empresas de diferente giro. Ganándonos su confianza gracias a la calidad de nuestros productos y servicios.
        .start__txt-compromiso 
          h2 Nuestro #[strong compromiso] 
          p Acompañar a nuestros clientes en todo momento para ayudarlos a #[strong impulsar su crecimiento], ofreciendo siempre soluciones de calidad que garanticen el éxito a corto, mediano y largo plazo.
        .start__txt-valores 
          h2 Nuestros #[strong valores] 
          ul 
            li Pasión 
            p Comprometidos con el corazón y mente 
            li Integridad 
            p Ser justos y transparentes 
            li Honestidad 
            p Decir siempre la verdad 
            li Trabajo en equipo 
            p Potenciar el talento colectivo 
            li Calidad 
            p Buscar la excelencia en nuestros productos y servicios 
            li Responsabilidad 
            p Cumplir con nuestros clientes en tiempo y forma
    .proveedores
      .proveedores__txt 
        h2 A todos nuestros #[strong proveedores] 
        p Sin duda nuestras #[strong relaciones comerciales] son una parte muy importante del crecimiento continuo.

        p En JMC Soluciones estamos siempre #[strong comprometidos] con el trabajo honesto, respetuoso y sobre todo responsable. Seguros de #[strong impulsar] nuestras marcas hacia el éxito.
