extend ../components/template-admin.pug
block content
  include inicio-cliente.pug
  .equipos   
    h2.title Equipos
    .acciones
      button.btn.btn-exit(onclick='regresar()')#salir Regresar
    .content__equipoClientes__tabs
      #myTabContent.tab-content
        #usuario-tab-pane.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='usuario-tab', tabindex='0') 
          .content__equipoClientes__tabs__item__body
            .table-wrapper.content__equipoClientes__tabs__item__body__table
              table#myTable.display(cellspacing='0' width='100%')
                thead 
                  tr                  
                    th Id
                    th Equipo
                    th Usuario
                    th Detalles
                tbody 
                  tr 
                    td 01
                    td Hp
                    td Josue Martinez
                    td
                      a(href="detalle-equipo-cliente.html") ver más... 
                  tr 
                    td 02
                    td Lenovo
                    td Josue Martinez
                    td 
                      a(href="detalle-equipo-cliente.html") ver más... 
    script(src="../js/regresar.js")
    script.
      $(document).ready( function () {
      $('#myTable').DataTable();
      } );    