extend ../components/template.pug
block content
    .restablecer
        form#forgotPasswordForm(onsubmit='submitForm(event)')
        label(for='email') Correo Electr&oacute;nico:
        input#email(type='email' name='email' required='')
        // Pregunta de seguridad
        label(for='securityQuestion')  &iquest;En qu&eacute; ciudad naciste?
        input#securityQuestion(type='text' name='securityQuestion' required='')
        button(type='submit') Enviar Enlace de Restablecimiento