extend ../components/template.pug
block content
    .content__formulario 
        .content__formulario__container
            h1 Solicita m치s informaci칩n
        .content__formulario__container-nombre
            .p
                label(for='Nombre') Nombre
                input.form-control(type='text' placeholder='Nombre' aria-label='Nombre')
            .p
                input.form-control(type='text' placeholder='Apellido' aria-label='Apellido')
            .p
                label(for='Empresa') Empresa o negocio
                input.form-control(type='text' placeholder='' aria-label='')
            .p
                label(for='e-mail') Correo electr칩nico
                input(type='email', name='email', placeholder='Escriba su correo electr칩nico')
            .p 
                label(for='e-mail') Software
                label.visually-hidden(for='autoSizingSelect') Software
                select#autoSizingSelect.form-select
                    option(selected='') Aspel SAE
                    option(value='1') Aspel COI
                    option(value='2') Aspel NOI
                    option(value='3') Aspel ADM
                    option(value='3') Aspel FACTURE 
                    option(value='3') Aspel CAJA 
                    option(value='3') Aspel PROD 
                    option(value='3') Aspel BANCO
            .p 
                label(for='e-mail') Comentario o mensaje
                textarea(rows='5' cols='50')
                button(type='submit') Enviar
