extend ../components/template.pug
block content
  include barra.pug
  .funcionesBANCO
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/BANCO.png", alt="Aspel BANCO")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
            a(href='beneficiosBANCO.html') Beneficios
          .desarrollo__inicio__button-funciones
            a(href='funcionesBANCO.html') Funciones
          .desarrollo__inicio__button-precios
            a(href='preciosBANCO.html') Precios  
    .inicio 
      .inicio__contenido 
        h2 Sistema de Control de Producción
    .info
      .info__body
        .info__body__descripcion-pUno 
          p Aspel BANCO es el Sistema de Control Bancario que te ayuda a llevar un control efectivo de tu dinero; es tu mejor aliado para: 
        .info__body__descripcion-pDos
          ul 
            li #[STRONG Capturar y actualizar] las cuentas por cobrar y cuentas por pagar
            li Realizar la conciliación bancaria de forma automática a partir de la información proporcionada por los bancos
            li #[strong Registrar operaciones] en moneda nacional y extranjeraMonousuario
            li Conocer el #[strong saldo real y disponible] de tus cuentas bancarias
            li Importar #[strong movimientos bancarios] de forma masiva 
            li #[strong Conectar a tus sucursales y colaboradores] remotos vía Internet
            li Visualizar los #[strong saldos reales y disponibles] de cada cuenta con su práctico Tablero
            li Manejar #[strong movimientos en tránsito] y multiconcepto
            li Llevar el #[strong control de cheques emitidos] y seleccionar el formato de impresión
            li Planear #[strong cobros y pagos] sin afectar el saldo de la cuenta
            li #[strong Autorizar] movimientos programados
            li Obtener el #[strong histórico de saldos]
          p Así obtendrás información #[strong financiera real] en todo momento, desde el flujo de efectivo hasta los estados de cuenta; y manéjala de forma segura controlando el acceso a los usuarios.
          p Con Aspel BANCO tienes un #[strong control integral de tus cuentas bancarias] desde un solo lugar.
        .info__body-button 
            a(href="formulario.html") Mas informacion 

