extend ../components/template.pug
block content
  include barra.pug
  .funcionesCAJA
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/CAJA.png", alt="")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
            a(href="beneficiosCAJA.html") Beneficios
          .desarrollo__inicio__button-funciones
            a(href="funcionesCAJA.html") Funciones
          .desarrollo__inicio__button-precios
            a(href="preciosCAJA.html") Precios
          .desarrollo__inicio__button-tienda
            a(href="pventaCAJA.html") Kit punto de venta
    .inicio 
      .inicio__contenido 
        h2 Sistema de Punto de Venta y Administración 
    .info
      .info__body
        .info__body__descripcion-pUno 
          p Software para controlar, administrar y agilizar las operaciones de ventas, facturación e inventarios de uno o varios comercios, tiendas, cajas y cajeros. 
        .info__body__descripcion-pDos
          h2 Convierte tu equipo de cómputo en un punto de venta.
          h3 Principales funcionalidades
          ul 
            li Administración de tiendas y cajas
            li Control de inventarios
            li Seguimiento de clientes
            li Tecnología táctil
            li Incrementa tus ventas
            li Útiles reportes y consultas
        .info__body-button 
            a(href="formulario.html") Mas informacion 

