extend ../components/template.pug
block content
  include barra.pug
  .funcionesNOI
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/NOI.png", alt="Aspel NOI")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
            a(href='beneficiosNOI.html') Beneficios
          .desarrollo__inicio__button-funciones
            a(href='funcionesNOI.html') Funciones
          .desarrollo__inicio__button-precios
            a(href='preciosNOI.html') Precios  
    .inicio 
      .inicio__contenido 
        h2 Sistema de Nómina Integral
    .info
      .info__body
        .info__body__descripcion-pUno 
          p Aspel-NOI tiene el #[strong control automático], manejo fácil y versatilidad de todos los elementos de una nómina empresarial:
          ul
            li #[strong Calcula de manera exacta] las percepciones y deducciones del personal registrado, cubriendo las necesidades específicas de cada empresa.
            li Realiza el cálculo automático de la retención #[strong I.S.R.]
            li También calcula las cuotas obrero-patronales#[strong IMSS e INFONAVIT].
            li Subsidio para el empleo y previsión social.
        .info__body__descripcion-pDos
          h2 Nueva version de NOI
          p Sirve para automatizar el #[strong cálculo de la nómina], así como la tranquilidad de cumplir con todas las obligaciones fiscales y laborales vigentes.
          ul 
            li Lleva el #[strong control de la nómina] de 99 empresas
            li Emite el #[strong CFDI 4.0] de los recibos de pago de la nómina
            li Genera diversos documentos personalizados como carta finiquito, contratos
            li #[strong Nómina] del trabajador.
            li Utiliza la #[strong conexión directa con INFONAVIT] para generar las aportaciones correspondientes a tus colaboradores
            li Cumple con el #[strong nuevo esquema de cancelación], en el que se debe indicar el motivo de cancelación del comprobante.
            li Visualiza el detalle de tu #[strong CFDI]
            li Desglosa el #[strong pago] correspondiente de las vacaciones
            li Realiza la #[strong conciliación] entre los totales
            li Agiliza el #[strong traspaso de acumulados]
            li Obtén tus #[strong CFDI] al timbrar de forma masiva mientras realizan otros procesos en la misma nómina.   
            li Traductor de datos de versión anterior 9.0
            li Realiza el #[strong envío automático del XML] al depósito de documentos, para asociarlos a la contabilidad.  
          p Cumple con todas las especificaciones de la reforma fiscal para el cumplimiento por ley del timbrado de los recibos de nómina como CFDI's.
        .info__body-button 
            a(href="formulario.html") Mas informacion 

