extend ../components/template.pug
block content
  .funcionesFACTURE
    .barraFlotante
      nav
        ul
          li
            a(href='beneficiosSAE.html')
              img(src="/imagenes/SAE.png", alt="Aspel SAE")
          li
            a(href='beneficiosCOI.html')
              img(src="/imagenes/COI.png", alt="Aspel COI")
          li
            a(href='beneficiosNOI.html')
              img(src="/imagenes/NOI.png", alt="Aspel NOI")
          li
            a(href='beneficiosADM.html')
              img(src="/imagenes/ADM.png", alt="Aspel ADM")
          li
            a(href='beneficiosFACTURE.html')
              img(src="/imagenes/FACT.png", alt="Aspel FACT")     
          li
            a(href='beneficiosCAJA.html')
              img(src="/imagenes/CAJA.png", alt="Aspel CAJA")
          li
            a(href='beneficiosPROD.html')
              img(src="/imagenes/PROD.png", alt="Aspel PROD")
          li
            a(href='beneficiosBANCO.html')
              img(src="/imagenes/BANCO.png", alt="Aspel BANCO")
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/FACT.png", alt="Aspel FACTURE")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
            a(href='beneficiosFACTURE.html') Beneficios
          .desarrollo__inicio__button-funciones
            a(href='funcionesFACTURE.html') Funciones
          .desarrollo__inicio__button-precios
            a(href='preciosFACTURE.html') Precios  
    .inicio 
      .inicio__contenido 
        h2 Sistema de Facturación Electrónica
    .info
      .info__body
        .info__body__descripcion-pUno 
          p Es un sistema ideal para todo tipo de usuario, dado que cuenta con diversos módulos que hacen más fácil la comprensión del mismo, en él podrá dar de alta facturas, recibos de honorarios, notas de crédito, recibos de arrendamiento, entre otro tipo de comprobantes y si lo desea también cuenta con el apartado de complementos. 

          p Aspel Facture es su mejor opción para poder emitir Comprobantes Fiscales Digitales por Internet (CFDI) de manera segura y en solo un par de segundos, basados en las disposiciones fiscales vigentes.
        .info__body__descripcion-pDos
          h2 Características generales del producto
          p Sirve para automatizar el #[strong cálculo de la nómina], así como la tranquilidad de cumplir con todas las obligaciones fiscales y laborales vigentes.
          ul 
            li Aplicación de escritorio (Windows).
            li Maneja hasta 99 RFC cada uno con su propia configuración.
            li Monousuario
            li Ofrece comprobantes, ya sea en pesos o dólares, a nivel estándar.  
          p Aspel-FACTURE resuelve las necesidades de facturación de las empresas mexicanas; basta con instalarlo para que en minutos se generen #[strong Comprobantes Fiscales] con todos los requisitos fiscales.
        .info__body-button 
            a(href="formulario.html") Mas informacion 

