extend ../components/template.pug
block content
  include barra.pug
  .funcionesCOI
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/COI.png", alt="Aspel COI")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
            a(href='beneficiosCOI.html') Beneficios
          .desarrollo__inicio__button-funciones
            a(href='funcionesCOI.html') Funciones
          .desarrollo__inicio__button-precios
            a(href='preciosCOI.html') Precios  
    .inicio 
      .inicio__contenido 
        h2 Sistema de Contabilidad Integral
    .info
      .info__body
        .info__body__descripcion-pUno 
          p Aspel COI es un sistema que #[strong integra, procesa y mantiene] al día la información fiscal y contable de su empresa en forma confiable y segura. Cumpliendo con todas las especificaciones y funciones para el correcto manejo de la nueva contabilidad electrónica, con base en las disposiciones fiscales vigentes.
        .info__body__descripcion-pDos
          p Genera distintos reportes, gráficas y documentos de trabajo que permiten determinar la situación financiera de cada empresa, así como generar las diferentes #[strong declaraciones fiscales] e informativas (IVA, ISR y DIOT).
        .info__body__descripcion-pTres 
          p Con el sistema de Aspel COI lleva los registros y asocia los comprobantes a los asientos contables, incluyendo los CFDI, para el cumplimiento del manejo de la contabilidad electrónica, en medios electrónicos, de acuerdo a las #[strong Reformas Fiscales vigentes]. Controla los ingresos, gastos y presupuestos de cada uno de los centros de costos, proyecto o departamento, utilizando diferentes monedas.
        .info__body__descripcion-pCuatro 
          p Permite conocer la #[strong situación financiera] en cualquier momento a través de consultas y reportes como el balance general y el estado de resultados.      
        .info__body-button 
            a(href="formulario.html") Mas informacion 

