extend ../components/template.pug
block content
  .funcionesADM
    .barraFlotante
      nav
        ul
          li
            a(href='beneficiosSAE.html')
              img(src="/imagenes/SAE.png", alt="Aspel SAE")
          li
            a(href='beneficiosCOI.html')
              img(src="/imagenes/COI.png", alt="Aspel COI")
          li
            a(href='beneficiosNOI.html')
              img(src="/imagenes/NOI.png", alt="Aspel NOI")
          li
            a(href='beneficiosADM.html')
              img(src="/imagenes/ADM.png", alt="Aspel ADM")
          li
            a(href='beneficiosFACTURE.html')
              img(src="/imagenes/FACT.png", alt="Aspel FACT")     
          li
            a(href='beneficiosCAJA.html')
              img(src="/imagenes/CAJA.png", alt="Aspel CAJA")
          li
            a(href='beneficiosPROD.html')
              img(src="/imagenes/PROD.png", alt="Aspel PROD")
          li
            a(href='beneficiosBANCO.html')
              img(src="/imagenes/BANCO.png", alt="Aspel BANCO")
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/ADM.png", alt="Aspel NOI")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
            a(href='beneficiosADM.html') Beneficios
          .desarrollo__inicio__button-funciones
            a(href='funcionesADM.html') Funciones
          .desarrollo__inicio__button-precios
            a(href='preciosADM.html') Precios  
    .inicio 
      .inicio__contenido
        h2 Sistema de Administración Móvil
    .info
      .info__body
        .info__body__descripcion-pUno 
          p Aspel ADM es la aplicación que revoluciona el #[strong control administrativo] de cada una de las empresas desde la nube de una manera sencilla y poderosa. Es una nueva app en la nube que administra las principales operaciones de compra-venta de cada una de las empresas, como lo es: compras, facturas, notas de crédito, cotizaciones, recibos de honorarios y de arrendamiento, entre otras de manera sencilla, fácil, eficiente y segura.

          p Le permitirá, también conocer el #[strong inventario de todos sus productos], la rotación de los mismos y su costo. Tendrá disponible en cualquier momento el estado de todas sus cuentas por cobrar y podrá llevar un oportuno seguimiento de sus ventas, gastos e ingresos generados.

          p Aspel ADM lo puede utilizar en #[strong cualquier momento] desde su computadora, Tablet o dispositivo móvil. Gestionar su negocio y genere sus CFDI en el momento que los requiera.
        .info__body__descripcion-pDos
         img(src="/Images/qr-appStore.png", alt="qr para descargar app desde la app store")
         img(src="/Images/qr-playStore.png", alt="qr para descargar la app desde la play store")
        .info__body-button 
            a(href="formulario.html") Mas informacion 

