extend ../components/template.pug
block content
  .index
    <!-- imagenes de carrusel -->
    .content 
    
      .content__slides
        .content__section-slide
          .content__slides.carousel.slide.carousel-fade#carouselExampleFade
            section(data-bs-ride="carousel")
            .carousel-inner
              .carousel-item.active
                .carousel-item__img
                  picture
                  source(media="(min-width:1110px)" srcset="images/Desktop/desktopSlidesIndex-1920x466.jpg")
                  source(media="(min-width:768px)" srcset="images/Tablet/tabletSlidesIndex-1110x466.jpg")
                  img(src="imagenes/principal.png" alt="Imagen de pallets").d-block.w-100                    
      
        <!-- informacion general del index -->
    .desarrollo 
      .desarrollo__soluciones
        .desarrollo__soluciones-txt
          h2 Soluciones #[br] #[strong Web] 
          <!- cajas de los servicios -->
          <!-- DOMINIOS -->
      a(href="formulario.html").desarrollo__dominios
        img(src="imagenes/dominios.png", alt="logo dominios")
        .desarrollo__dominios__box
          .desarrollo__dominios__box-title 
            h2 Dominios
          .desarrollo__dominios__box-txt 
            p #[strong Registra] el nombre de tu empresa u organización, nosotros te ayudamos.
          <!-- HOSTING -->
      a(href="formulario.html").desarrollo__hosting
        img(src="imagenes/dominios.png", alt="hosting")
        .desarrollo__hosting__box
          .desarrollo__hosting__box-title
            h2 Hosting
          .desarrollo__hosting__box-txt  
            p Hosting extremadamente #[strong rápido] y lleno de #[strong funciones]  
            <!-- CORREO -->         
      a(href="formulario.html").desarrollo__correo
        img(src="imagenes/correo.png", alt="correo electrónico")
        .desarrollo__correo__box
          .desarrollo__correo__box-title
            h2 Correo #[strong electrónico]
          .desarrollo__correo__box-txt 
            p Usa #[strong cuentas profesionales] con tu propio dominio 

        <!-- PAGINA -->                   
      a(href="formulario.html").desarrollo__pagina
        img(src="imagenes/dominios.png", alt="página web")
        .desarrollo__pagina__box
          .desarrollo__pagina__box-title
            h2 Creamos tu #[strong página web]
          .desarrollo__pagina__box-txt 
            p #[strong Desarrollamos] tu página web #[strong a la medida]

        <!-- TITULO 2 - ARQUITECTURA -->           
      .desarrollo__arquitectura
        .desarrollo__arquitectura-title
          h2 #[strong Arquitectura]

        <!-- SERVIDORES --> 
      a(href="formulario.html").desarrollo__servidores
        img(src="imagenes/dominios.png", alt="servidores")
        .desarrollo__servidores__box
          .desarrollo__servidores__box-title
            h2 #[strong Servidores]    
          .desarrollo__servidores__box-txt 
            p Nos encargamos de implementar la #[strong arquitectura ] que necesites para poner en marcha tus aplicaciones

        <!-- TITULO 3 - DESARROLLO -->         
      .desarrollo__dMedida
        .desarrollo__dMedida-title
          h2 #[strong Desarrollo] a la medida 
      
        <!-- APLICACIONES -->
      a(href="formulario.html").desarrollo__aplicaciones
        img(src="imagenes/dominios.png", alt="aplicaciones")
        .desarrollo__aplicaciones__box
          .desarrollo__aplicaciones__box-title
            h2 #[strong Aplicaciones] a la medida    
          .desarrollo__aplicaciones__box-txt  
            p #[strong Desarrollamos] aplicaciones a la medida, Android, iOS, Escritorio o Web
      
        <!-- TITULO 4 - TIENDA -->             
      .desarrollo__online
        .desarrollo__online-title
          h2 #[strong Tienda] Online 

        <!-- TIENDA ONLINE -->
      a(href="formulario.html").desarrollo__tienda
        img(src="imagenes/dominios.png", alt="tienda")
        .desarrollo__tienda__box
          .desarrollo__tienda__box-title
            h2 #[strong Tienda] en línea de computación   
          .desarrollo__tienda__box-txt 
            p Encuentra los #[strong mejores equipos] para tu empresa u organización 

        <!-- TITULO 5 - SOPORTE -->           
      .desarrollo__soporte
        .desarrollo__soporte-title 
          h2 #[strong Soporte]

            <!-- SOPORTE INFORMATICO -->
      a(href="formulario.html").desarrollo__informatico
        img(src="imagenes/dominios.png", alt="soporte informatico")
        .desarrollo__informatico__box
          .desarrollo__informatico__box-title
            h2 #[strong Soporte] informático     
          .desarrollo__informatico__box-txt 
            p #[strong Mantenimiento] preventivo y correctivo a equipos de cómputo 
    .final            
      .final__sAdmin
        .final__sAdmin-title
          h2 Soluciones #[strong ADMINISTRATIVAS]
      .final__empresa
        .final__empresa-title
          h2 Toma el #[strong control] de tu empresa
        .final__empresa-txt
          ul         
            li 
              img(src="imagenes/acierto.svg")
              p Controla tus ventas
            li 
              img(src="imagenes/acierto.svg")
              p Conoce a tus clientes
            li 
              img(src="imagenes/acierto.svg")
              p Administra tus inventarios
            li 
              img(src="imagenes/acierto.svg")
              p Factura rápido
            li 
              img(src="imagenes/acierto.svg")
              p Domina las cuentas por cobrar y pagar
            li 
              img(src="imagenes/acierto.svg")
              p Mantén tu contabilidad segura
            li 
              img(src="imagenes/acierto.svg")
              p Automatiza tus nóminas
            li 
              img(src="imagenes/acierto.svg")
              p Maneja a tus proveedores
            li 
              img(src="imagenes/acierto.svg")
              p Y mucho más 
        .final__empresa-btn
          a(href="formulario.html") Mas informacion
      