extend ../components/template.pug
block content
    .content 
        .content__section-slide
            section(data-bs-ride="carousel").content__slides.carousel.slide.carousel-fade#carouselExampleFade
                .carousel-inner
                    .carousel-item.active
                        picture.carousel-item__img
                            source(media="(min-width:1110px)" srcset="images/Desktop/desktopSlidesIndex-1920x466.jpg")
                            source(media="(min-width:768px)" srcset="images/Tablet/tabletSlidesIndex-1110x466.jpg")
                            img(src="/imagenes/principal.png" alt="Imgagen de pallets").d-block.w-100                    
        .content__section-soluciones
            p.content__section-soluciones-title.title Soluciones   
            p.content__section-soluciones-txt #[strong Web] 
        .content__section-dominios
            img(src="/imagenes/dominios.png", alt="dominios")
            .content__section-dominios__box
                p.content__section-dominios__box-title Dominios
                p.content__section-dominios__box-txt #[strong Registra] el nombre de tu empresa u organización, nosotros te ayudamos.
        .content__section-hosting
            img(src="/imagenes/dominios.png", alt="hosting")
            .content__section-hosting__box
                p.content__section-hosting__box-title.title Hosting
                p.content__section-hosting__box-txt  Hosting extremadamente #[strong rápido] y lleno de #[strong funciones]           
        .content__section-correo
            img(src="/imagenes/correo.png", alt="correo electrónico")
            .content__section-correo__box
                p.content__section-correo__box-title.title Correo #[strong electrónico]
                p.content__section-correo__box-txt Usa #[strong cuentas profesionales] con tu propio dominio                
        .content__section-pagina
            img(src="/imagenes/dominios.png", alt="página web")
            .content__section-pagina__box
                p.content__section-pagina__box-title.title Creamos tu #[strong página web]
                p.content__section-pagina__box-txt #[strong Diseñamos] y desarrollamos tu página web #[strong a la medida]     
        .content__section-arquitectura
            p.content__section-arquitectura-title.title #[strong Arquitectura] 
        .content__section-servidores
            img(src="/imagenes/dominios.png", alt="servidores")
            .content__section-servidores__box
                p.content__section-servidores__box-title.title #[strong Servidores]    
                p.content__section-servidores__box-txt Nos encargamos de implementar la #[strong arquitectura ] que necesites para poner en marcha tus aplicaciones         
        .content__section-desarrollo
            p.content__section-desarrollo-title.title #[strong Desarrollo] a la medida 
        .content__section-aplicaciones
            img(src="/imagenes/dominios.png", alt="aplicaciones")
            .content__section-aplicaciones__box
                p.content__section-aplicaciones__box-title.title #[strong Aplicaciones] a la medida    
                p.content__section-aplicaciones__box-txt  #[strong Desarrollamos] aplicaciones a la medida, Android, iOS, Escritorio o Web             
        .content__section-online
            p.content__section-online-title.title #[strong Tienda] Online 
        .content__section-tienda
            img(src="/imagenes/dominios.png", alt="tienda")
            .content__section-tienda__box
                p.content__section-tienda__box-title.title #[strong Tienda]     
                p.content__section-tienda__box-txt en línea de computación Encuentra los #[strong mejores equipos] para tu empresa u organización            
        .content__section-soporte
            p.content__section-soporte-title.title #[strong Soporte]
        .content__section-informatico
            img(src="/imagenes/dominios.png", alt="soporte informatico")
            .content__section-informatico__box
                p.content__section-informatico__box-title.title #[strong Soporte] informático     
                p.content__section-informatico__box-txt #[strong Mantenimiento] preventivo y correctivo a equipos de cómputo                
        .content__section-soluciones-administrativas
            p.content__section-soluciones-administrativas-title.title Soluciones #[strong ADMINISTRATIVAS]
        .content__section-empresa
            p.content__section-empresa-title.title Toma el #[strong control] de tu empresa
            ul.content__section-empresa-ul         
                li 
                    img(src="/imagenes/acierto.svg", alt="soporte informatico")
                    p Controla tus ventas
                li 
                    img(src="/imagenes/acierto.svg", alt="soporte informatico")
                    p Conoce a tus clientes
                li 
                    img(src="/imagenes/acierto.svg", alt="soporte informatico")
                    p Administra tus inventarios
                li 
                    img(src="/imagenes/acierto.svg", alt="soporte informatico")
                    p Factura rápido
                li 
                    img(src="/imagenes/acierto.svg", alt="soporte informatico")
                    p Domina las cuentas por cobrar y pagar
                li 
                    img(src="/imagenes/acierto.svg", alt="soporte informatico")
                    p Mantén tu contabilidad segura
                li 
                    img(src="/imagenes/acierto.svg", alt="soporte informatico")
                    p Automatiza tus nóminas
                li 
                    img(src="/imagenes/acierto.svg", alt="soporte informatico")
                    p Maneja a tus proveedores
                li 
                    img(src="/imagenes/acierto.svg", alt="soporte informatico")
                    p Y mucho más 
            button.more-info Más información     