.inicio_cliente 
  .inicio_cliente__box
    .inicio_cliente__box__item
      a(href="contratos-cliente.html") Contratos
        img(src="Images/Icons/contratos.svg" alt="")
    .inicio_cliente__box__item 
      a(href="pagos-cliente.html") Pagos
        img(src="Images/Icons/pagos.svg", alt="")
    .inicio_cliente__box__item
      a(href="tickets-cliente.html") Tickets
        img(src="Images/Icons/tickets.svg", alt="")
    .inicio_cliente__box__item
      a(href="equipo-cliente.html") Equipos
        img(src="Images/Icons/equipos.svg", alt="")