extend ../components/template.pug
block content
    .login
        .login__container
            img(src="/Images/Icons/usuario.svg")
            h1 Sing in
            form(action='#', method='post')
        .login__item
            <!-- caja de E-mail -->
            label(for='e-mail') E-mail
            img(src="/Images/Icons/email-login.svg")
            input(type='email', name='email', placeholder='Enter your E-mail')
            <!-- caja de password -->
            label(for='password') Password
            img(src="/Images/Icons/password.svg")
            input(type='password', id='password', name='password', placeholder='Enter your password')
            
            <!-- boto de ingresar-->
            button(type='submit') Ingresar
            <!-- boto de ingresar-->
        .login__remember
            // Checkbox
            .form-check
                input#check-input(type='checkbox' value='' checked='')
                label.form-check-label(for='form')  Remember me 
            .col
            <!--Simple link-->
                a(href='#!') Forgot password?
    