extend ../components/template.pug
block content
  .mantenimiento
    .inicio 
      <!-- imagen de incio de la pagina -->
      .inicio__contenido
        .inicio__contenido-titulo1
          h2 Mantén tus equipos de computo en estado óptimo
        .inicio__contenido-titulo2
          h2 Mantenimiento preventivo y correctivo
    .desarrollo 
      .desarrollo__contenido 
        .desarrollo__contenido-titulo
          h2 ¿Por que adquirir una póliza de servicio con nosotros?
        .desarrollo__contenido__op
          .desarrollo__contenido__op__prof
            .desarrollo__contenido__op__prof-txt 
              h2 Profesionalismo 
              p Llevamos un #[strong estricto control] en nuestros procesos de revisión y mantenimiento.
            .desarrollo__contenido__op__prof-img
              img(src="/imagenes/Experiencia.png", alt="icono")
          .desarrollo__contenido__op__exp
            .desarrollo__contenido__op__exp-txt 
              h2 Experiencia 
              p Nuestra mayor fortaleza es nuestra #[strong amplia experiencia] en resolver problemas técnicos.
            .desarrollo__contenido__op__exp-img
              img(src="/imagenes/Experiencia.png", alt="icono")
          .desarrollo__contenido__op__dist
            .desarrollo__contenido__op__dist-txt 
              h2 Somos distribuidores 
              p Nosotros adquirimos piezas de reemplazo #[strong directamente con el fabricante] sin intermediaros, beneficiando directamente en los costos.
            .desarrollo__contenido__op__dist-img
              img(src="/imagenes/Experiencia.png", alt="icono")
          .desarrollo__contenido__op__conf
            .desarrollo__contenido__op__conf-txt 
              h2 Confidencialidad 
              p La #[strong información] de nuestros clientes siempre está #[strong segura]. Generamos un acuerdo de confidencialidad.
            .desarrollo__contenido__op__conf-img
              img(src="/imagenes/Experiencia.png", alt="icono")
          .desarrollo__contenido__op__solutions
            .desarrollo__contenido__op__solutions-txt 
              h2 Damos soluciones 
              p No solo reparamos computadoras, #[strong resolvemos situaciones]. El alto grado de compromiso exige dar el mejor servicio.
            .desarrollo__contenido__op__solutions-img
              img(src="/imagenes/Experiencia.png", alt="icono")        