extend ../components/template.pug
block content
  .aspel 
    .info
      h2 ¿Qué es aspel?

      p Los sistemas Aspel buscan eficientizar y automatizar procesos para micro, medianas y grandes empresas. Permitiendo simplificar las tareas administrativas, de contabilidad, facturación y nómina de la empresa e integrarlas a nuevas tecnologías.

    .logos
      .logos__SAE 
        a(href="sae.html") 
          p Aspel SAE
          img(src="/Images/SAE.png", alt="Más informacion sobre el sistema Aspel SAE")
      .logos__COI 
        a(href="coi.html") 
          p Aspel COI
          img(src="/Images/COI.png", alt="Más informacion sobre el sistema Aspel COI")
      .logos__NOI
        a(href="noi.html") 
          p Aspel NOI
          img(src="/Images/NOI.png", alt="Más informacion sobre el sistema Aspel NOI")
      .logos__CAJA
        a(href="caja.html") 
          p Aspel CAJA
          img(src="/Images/CAJA.png", alt="Más informacion sobre el sistema Aspel CAJA")
      .logos__ADM
        a(href="adm.html") 
          p Aspel ADM
          img(src="/Images/ADM.png", alt="Más informacion sobre el sistema Aspel ADM")
      .logos__PROD
        a(href="prod.html") 
          p Aspel PROD
          img(src="/Images/PROD.png", alt="Más informacion sobre el sistema Aspel PROD")
      .logos__FACTURE
        a(href="facture.html") 
          p Aspel FACTURE
          img(src="/Images/FACT.png", alt="Más informacion sobre el sistema Aspel FACTURE")
      .logos__BANCO
        a(href="banco.html") 
          p Aspel BANCO
          img(src="/Images/BANCO.png", alt="Más informacion sobre el sistema Aspel BANCO")
