extend ../components/template.pug
block content
  .aspel 
    .logos
      .logos__SAE 
        a(href="sae.html") Aspel SAE
          img(src="/Images/SAE.png", alt="Aspel SAE")
      .logos__COI 
        a(href="coi.html") Aspel COI
          img(src="/Images/COI.png", alt="Aspel COI")
      .logos__NOI
        a(href="noi.html") Aspel NOI
          img(src="/Images/NOI.png", alt="Aspel NOI")
      .logos__CAJA
        a(href="caja.html") Aspel CAJA
          img(src="/Images/CAJA.png", alt="Aspel CAJA")
      .logos__ADM
        a(href="adm.html") Aspel ADM
          img(src="/Images/ADM.png", alt="Aspel ADM")
      .logos__PROD
        a(href="prod.html") Aspel PROD
          img(src="/Images/PROD.png", alt="Aspel PROD")
      .logos__FACTURE
        a(href="facture.html") Aspel FACTURE
          img(src="/Images/FACT.png", alt="Aspel FACTURE")
      .logos__BANCO
        a(href="facture.html") Aspel BANCO
          img(src="/Images/BANCO.png", alt="Aspel BANCO")
