extend ../components/template.pug
block content
  .aspel 
    .info
      img(src="/Images/logo-aspel.svg", alt="")
      h2 ¿Qué es aspel?
      
      p Los sistemas Aspel buscan eficientizar y automatizar procesos para micro, medianas y grandes empresas. Permitiendo simplificar las tareas administrativas, de contabilidad, facturación y nómina de la empresa e integrarlas a nuevas tecnologías.

    .logos
      .logos__SAE 
        a(href="sae.html") 
          p Aspel SAE
          img(src="/Images/SAE.png", alt="Más informacion sobre el sistema Aspel SAE" title="Controla el ciclo de las operaciones de compra y venta de toda su empresa.")
      .logos__COI 
        a(href="coi.html") 
          p Aspel COI
          img(src="/Images/COI.png", alt="Más informacion sobre el sistema Aspel COI" title="Lleva de manera precisa y segura toda la contabilidad de tu empresa.")
      .logos__NOI
        a(href="noi.html") 
          p Aspel NOI
          img(src="/Images/NOI.png", alt="Más informacion sobre el sistema Aspel NOI" title="Controla todos los elementos de tu nómina")
      .logos__CAJA
        a(href="caja.html") 
          p Aspel CAJA
          img(src="/Images/CAJA.png", alt="Más informacion sobre el sistema Aspel CAJA" title="Convierte tu equipo de cómputo en un punto de venta")
      .logos__ADM
        a(href="adm.html") 
          p Aspel ADM
          img(src="/Images/ADM.png", alt="Más informacion sobre el sistema Aspel ADM" title="Administra operaciones de compra, venta en cada una de las empresas que manejamos desde la nube")
      .logos__PROD
        a(href="prod.html") 
          p Aspel PROD
          img(src="/Images/PROD.png", alt="Más informacion sobre el sistema Aspel PROD" title="Controla y la planea todos los procesos de fabricación de tus productos")
      .logos__FACTURE
        a(href="facture.html") 
          p Aspel FACTURE
          img(src="/Images/FACT.png", alt="Más informacion sobre el sistema Aspel FACTURE" title="Da de alta facturas y todo tipo de comprobantes fiscales digitales (CFDI).")
      .logos__BANCO
        a(href="banco.html") 
          p Aspel BANCO
          img(src="/Images/BANCO.png", alt="Más informacion sobre el sistema Aspel BANCO" title="Controla cualquiera de los movimientos bancarios de tu empresa")
