extend ../components/template.pug
block content
  .aspel 
    .logos
      .logos__SAE 
        img(src="/Images/SAE.png", alt="Aspel SAE")
        a(href="beneficiosSAE.html") Aspel SAE
      .logos__COI 
        a(href="beneficiosCOI.html") Aspel COI
          img(src="/Images/COI.png", alt="Aspel COI")
      .logos__NOI
        a(href="beneficiosNOI.html") Aspel NOI
          img(src="/Images/NOI.png", alt="Aspel NOI")
      .logos__CAJA
        a(href="beneficiosCAJA.html") Aspel CAJA
          img(src="/Images/CAJA.png", alt="Aspel CAJA")
      .logos__ADM
        a(href="beneficiosADM.html") Aspel ADM
          img(src="/Images/ADM.png", alt="Aspel ADM")
      .logos__PROD
        a(href="beneficiosPROD.html") Aspel PROD
          img(src="/Images/PROD.png", alt="Aspel PROD")
      .logos__FACTURE
        a(href="beneficiosFACTURE.html") Aspel FACTURE
          img(src="/Images/FACT.png", alt="Aspel FACTURE")
      .logos__BANCO
        a(href="beneficiosBANCO.html") Aspel BANCO
          img(src="/Images/BANCO.png", alt="Aspel BANCO")
