button.btn.btn-success.newBtnElement(type="button" data-bs-toggle="modal" data-bs-target="#modalGuardar")#btnGuardarM Guardar
.modalGuardar
    #modalGuardar.modal.fade(aria-hidden='true' aria-labelledby='modalGuardar' tabindex='-1')
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h5#modalGuardar.modal-title  
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    h5 Guardado!
                .modal-footer
                    button.btn.btn-secondary#mGuardar(type="button" data-bs-dismiss="modal") Aceptar