button.btn.btn-link.newBtnElement(type="button" data-bs-toggle="modal" data-bs-target="#modalDetalleCliente") Ver mas ...
.modal-detalle-cliente
    #modalDetalleCliente.modal(aria-hidden='true' aria-labelledby='modalDetalleCliente-gralLabel' tabindex='-1')
        .modal-dialog.modal-lg.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h2#modalDetalleClienteLabel.modal-title Informacion del #[strong Cliente]
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    .content-form
                        form(action = "")
                            .form-floating.mb-3  
                                input.form-control.form-control-lg(placeholder="RFC" type="text" name="rfc" maxlength="13" readonly)
                                label.form-label(for="rfc") RFC
                            .form-floating.mb-3
                                input.form-control.form-control-lg(placeholder="Nombre" type="text" name="nombre" maxlength="80" required readonly)  
                                label.form-label(for="nombre") Nombre
                            .form-floating.mb-3
                                input.form-control.form-control-lg(placeholder="Direccion" type="text" name="direccion" maxlength="100" required readonly)
                                label.form-label(for="direccion") Direccion  
                            .form-floating.mb-3
                                input.form-control.form-control-lg(placeholder="Estado" type="text" name="estado" maxlength="50" required readonly) 
                                label.form-label(for="estado") Estado   
                            .form-floating.mb-3
                                input.form-control.form-control-lg(placeholder="Codigo Postal" type="text" name="cp" maxlength="5" required readonly)
                                label.form-label(for="cp") Código Postal
                            .form-floating.mb-3
                                input.form-control.form-control-lg(placeholder="Regimen Fiscal" type="text" name="rf" maxlength="45" readonly)
                                label.form-label(for="rf") Régimen Fiscal 
                            .form-floating.mb-3
                                input.form-control.form-control-lg(placeholder="telefono" type="text" name="telefono" maxlength="10" required readonly)
                                label.form-label(for="telefono") Télefono 
                            .form-floating.mb-3
                                input.form-control.form-control-lg(placeholder="Nombre de contacto" type="text" name="nom_contacto" maxlength="50" required readonly)
                                label.form-label(for="nom_contacto") Nombre de contacto
                            .form-floating.mb-3
                                input.form-control.form-control-lg(placeholder="Correo electronico" type="email" name="correo" maxlength="50" required readonly)
                                label.form-label(for="correo") Correo Electronico  
                    .modal-body__buttons 
                        button.btn.btn-danger( data-bs-dismiss='modal' aria-label='Close') Cancelar
                        button.btn.btn-warning(data-bs-target='#modalMensajeModificar' data-bs-toggle='modal' data-bs-dismiss='modal') Modificar
    #modalMensajeModificar.modal.fade(aria-hidden='true' aria-labelledby='modalMensajeModificar' tabindex='-1')
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h3#modalMensajeModificar.modal-title Modificar cliente 
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    | Cliente modificado!
                .modal-footer
                    button.btn.btn-primary(data-bs-target='#modalMensajeModificar' data-bs-toggle='modal' data-bs-dismiss='modal') Cancelar 
                    button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Aceptar
