button.btn#infobtn.btn-info.newBtnElement(type="button" data-bs-toggle="modal" data-bs-target="#modalInfo") ?
.modal-info
    #modalInfo.modal(aria-hidden='true' aria-labelledby='modalInfo-gralLabel' tabindex='-1')
        .modal-dialog.modal-lg.modal-dialog-centered
            .modal-content
                .modal-header
                    h2#modalInfoLabel.modal-title Solicita más #[strong información]
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    .content-form
                        form(action = "")
                            .form-floating.mb-3  
                                   
                                input.form-control.form-control-lg(placeholder="Nombre" type="text" name="nombre" maxlength="80" required)
                                label.form-label(for="nombre") Nombre
                            .form-floating.mb-3
                                    
                                input.form-control.form-control-lg(placeholder="Telefono" type="text" name="telefono" maxlength="10" required)  
                                label.form-label(for="telefono") Telefono
                            .form-floating.mb-3
                                    
                                input.form-control.form-control-lg(placeholder="Correo" type="email" name="correo" maxlength="50" required)
                                label.form-label(for="correo") Correo  
                            .form-floating.mb-3
                                
                                input.form-control.form-control-lg(placeholder="Nombre de la empresa" type="text" name="empresa" maxlength="50") 
                                label.form-label(for="empresa") Nombre de la empresa   
                            .form-floating.mb-3
                                 
                                input.form-control.form-control-lg(placeholder="Mensaje" type="text" name="mensaje" maxlength="600" required)
                                label.form-label(for="mensaje") Mensaje 
                    .modal-body__buttons 
                        button.btn.btn-danger( data-bs-dismiss='modal' aria-label='Close') Cancelar
                        button.btn.btn-success(data-bs-target='#modalInfoCompleta' data-bs-toggle='modal' data-bs-dismiss='modal') Enviar
    #modalInfoCompleta.modal.fade(aria-hidden='true' aria-labelledby='modalInfoCompleta' tabindex='-1')
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h2#modalInfoCompleta.modal-title Solicitud de Información 
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    | Informacion enviada!
                .modal-footer
                    button.btn.btn-primary(data-bs-target='#modalInfoCompleta' data-bs-toggle='modal' data-bs-dismiss='modal') Cancelar 
                    button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Aceptar