extend ../components/template-admin.pug
block content
    include control-menuAdmin.pug
    .content__nuevoservicio__administrador 
        .content__nuevoservicio__administrador__container
            h1 Añadir Nuevo Servicio
        .content__nuevoservicio__administrador__container-servicio
            .info
                label(for='Id') Id servicio
                input.form-info(type='text' placeholder='' aria-label='')
            .info
                label(for='Nombre') Nombre
                input.form-info(type='text' placeholder='' aria-label='')
            .info
                label(for='plan') Plan
                input.form-info(type='text' placeholder='' aria-label='')
            .info
                label(for='moneda') Moneda
                input#concepto.form-info(type='text' name='moneda' placeholder='')
            .info
                label(for='Costo') Costo
                input.form-info(type='text' placeholder='' aria-label='')
        .content__nuevoservicio__administrador__container-botones
            // Botón Agregar
            include modal-guardar.pug
                // Botón Cancelar
            button#cancelaBtn(onclick='cancelarAccion()') Cancelar
            script(src='agregar.js')
            script(src='moneda.js')