extend ../components/template.pug
block content
    .container__pagos__administrador
        .container__pagos__administrador-wrapper
            .container__pagos__administrador-title
                .row
                    .col-sm-6
                    h2 Control de clientes
                    .col-sm-6
                        a.btn.btn-success(href='#addUserModal' data-toggle='modal')
                            i.bi.bi-plus-circle
                            span Add New User
                    .col-sm-6
                        form.form-inline
                        input.form-control(type='search' placeholder='' aria-label='')
                        button.btn.btn-outline(type='submit') Buscar

            table.table.table-striped.table-hover
                thead
                   tr
                        th
                        th Id
                        th Nombre
                        th Dirección
                        th Detalles
                        th Acción
                tbody
                    tr
                        td
                        td 1
                        td Fran Wilson
                        td 89 Chiaroscuro Rd, Portland, USA 
                        td
                            button.btn.btn-link(type='button', class='btn btn-primary',data-toggle='modal', data-target='#verMasModal') Ver Más...    
                        td
                            a.edit(href='#editUserModal' data-toggle='modal')
                                i.bi.bi-pencil-square
                            a.delete(href='#deleteUserModal' data-toggle='modal')
                                i.bi.bi-trash
                    tr
                        td
                        td 2
                        td 
                        td 
                        td
                            button.btn.btn-link(type='button', class='btn btn-primary',data-toggle='modal', data-target='#verMasModal') Ver Más...   
                        td
                            a.edit(href='#editUserModal' data-toggle='modal')
                                i.bi.bi-pencil-square
                            a.delete(href='#deleteUserModal' data-toggle='modal')
                                i.bi.bi-trash
                    tr
                        td
                        td 3
                        td 
                        td 
                        td
                           button.btn.btn-link(type='button', class='btn btn-primary',data-toggle='modal', data-target='#verMasModal') Ver Más...   
                        td
                            a.edit(href='#editUserModal' data-toggle='modal')
                                i.bi.bi-pencil-square
                            a.delete(href='#deleteUserModal' data-toggle='modal')
                                i.bi.bi-trash
                    tr
                        td
                        td 4
                        td 
                        td 
                        td
                            button.btn.btn-link(type='button', class='btn btn-primary',data-toggle='modal', data-target='#verMasModal') Ver Más...   
                        td
                            a.edit(href='#editUserModal' data-toggle='modal')
                                i.bi.bi-pencil-square
                            a.delete(href='#deleteUserModal' data-toggle='modal')
                                i.bi.bi-trash
                    tr
                        td
                        td 5
                        td 
                        td 
                        td
                            button.btn.btn-link(type='button', class='btn btn-primary',data-toggle='modal', data-target='#verMasModal') Ver Más...   
                        td
                            a.edit(href='#editUserModal' data-toggle='modal')
                                i.bi.bi-pencil-square
                            a.delete(href='#deleteUserModal' data-toggle='modal')
                                i.bi.bi-trash
            .clearfix
                .hint-text
                    | Showing 
                    b 5
                    |  out of 
                    b 15
                    |  entries
                ul.pagination
                    li.page-item.disabled
                        a(href='#') Previous
                    li.page-item
                        a.page-link(href='#') 1
                    li.page-item
                        a.page-link(href='#') 2
                    li.page-item.active
                        a.page-link(href='#') 3
                    li.page-item
                        a.page-link(href='#') 4
                    li.page-item
                        a.page-link(href='#') 5
                    li.page-item
                        a.page-link(href='#') Next
            // Edit Modal HTML
    #addUserModal.modal.fade
        .modal-dialog
            .modal-content
                form
                    .modal-header
                        h4.modal-title Añadir Nuevo Cliente
                        button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                    .modal-body
                        .form-group
                            label RFC
                            input.form-control(type='text' required='')
                        .form-group
                            label Nombre
                            input.form-control(type='text' required='')
                        .form-group
                            label Direccion
                            input.form-control(type='email' required='')
                        .form-group
                            label Municipio
                            textarea.form-control(required='')
                        .form-group
                            label Codigo postal
                            input.form-control(type='text' required='')
                        .form-group
                            label Estado
                            input.form-control(type='text' required='')
                        .form-group
                            label Regimen Fiscal
                            input.form-control(type='text' required='')
                        .form-group
                            label Telefono
                            input.form-control(type='text' required='')
                        .form-group
                            label Contrato
                            input.form-control(type='text' required='')
                        .form-group
                            label Correo Electronico
                            input.form-control(type='text' required='')
                        .form-group
                            label Password
                            input.form-control(type='text' required='')
                    .modal-footer
                        input.btn.btn-default(type='button' data-dismiss='modal' value='Cancel')
                        input.btn.btn-success(type='submit' value='Add')
    // Edit Modal HTML
    #editUserModal.modal.fade
        .modal-dialog
            .modal-content
                form
                    .modal-header
                        h4.modal-title Editar Cliente
                        button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                    .modal-body
                        .form-group
                            label RFC
                            input.form-control(type='text' required='')
                        .form-group
                            label Nombre
                            input.form-control(type='text' required='')
                        .form-group
                            label Direccion
                            input.form-control(type='email' required='')
                        .form-group
                            label Municipio
                            textarea.form-control(required='')
                        .form-group
                            label Codigo postal
                            input.form-control(type='text' required='')
                        .form-group
                            label Estado
                            input.form-control(type='text' required='')
                        .form-group
                            label Regimen Fiscal
                            input.form-control(type='text' required='')
                        .form-group
                            label Telefono
                            input.form-control(type='text' required='')
                        .form-group
                            label Contrato
                            input.form-control(type='text' required='')
                        .form-group
                            label Correo Electronico
                            input.form-control(type='text' required='')
                        .form-group
                            label Password
                            input.form-control(type='text' required='')
                    .modal-footer
                        input.btn.btn-default(type='button' data-dismiss='modal' value='Cancel')
                        input.btn.btn-info(type='submit' value='Save')
    // Delete Modal HTML
    #deleteUserModal.modal.fade
        .modal-dialog
            .modal-content
                form
                    .modal-header
                        h4.modal-title Delete User
                        button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                    .modal-body
                        p Are you sure you want to delete these Records?
                        p.text-warning
                            small This action cannot be undone.
                    .modal-footer
                        input.btn.btn-default(type='button' data-dismiss='modal' value='Cancel')
                        input.btn.btn-danger(type='submit' value='Delete')
    // Modales para mostrar más detalles
    #verMasModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Más Detalles
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
    script(src="../js/pagos.js")