.content__pagos 
    .content__pagos__container 
        h1 #[strong Control pagos]
    .content__pagos__container-txt
        i.material-icons &#xE147;
        button#addUserButton.btn.btn-primary(type='button') Add user
        i.material-icons &#xE15C;
        button#adddeleteButton.btn.btn-primary(type='button') Delete
    .content__pagos__container-buscar 
        span.input-group-btn
        input.form-control(type='text')
        i.material-icons &#xE8B6;
        button#buscarButton(type='button') Buscar
        button#limpiarButton(type='button') Limpiar



        
        

