extend ../components/template.pug
block content
    .content__administrador__pagos 
        .content__administrador__pagos__container 
            h1 Control de pagos
            .content__administrador__pagos__container-add
                button#add(type='button') Add user
                button#delete(type='button') Delete
            .content__administrador__pagos__container-buscar 
                span.input-group-btn
                input.form-control(type='text')
                
                <!--i.material-icons &#128269;&#65038;--->
                button#buscarButton(type='button') Buscar
                button#limpiarButton(type='button') Limpiar
            table.table.table-striped.table-hover
            thead
                tr
                th
                    span.custom-checkbox
                    input#selectAll(type='checkbox')
                    label(for='selectAll')
                th Name
                th Email
                th Address
                th Phone
                th Actions
            tbody
                tr
                td
                    span.custom-checkbox
                    input#checkbox1(type='checkbox' name='options[]' value='1')
                    label(for='checkbox1')
                td 
                td 
                td 
                td 
                td
                    a.edit(href='#editEmployeeModal' data-toggle='modal')
                    i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
                    a.delete(href='#deleteEmployeeModal' data-toggle='modal')
                    i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
                tr
                td
                    span.custom-checkbox
                    input#checkbox2(type='checkbox' name='options[]' value='1')
                    label(for='checkbox2')
                td 
                td 
                td 
                td 
                td
                    a.edit(href='#editEmployeeModal' data-toggle='modal')
                    i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
                    a.delete(href='#deleteEmployeeModal' data-toggle='modal')
                    i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
                tr
                td
                    span.custom-checkbox
                    input#checkbox3(type='checkbox' name='options[]' value='1')
                    label(for='checkbox3')
                td 
                td
                td 
                td 
                td
                    a.edit(href='#editEmployeeModal' data-toggle='modal')
                    i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
                    a.delete(href='#deleteEmployeeModal' data-toggle='modal')
                    i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
                tr
                td
                    span.custom-checkbox
                    input#checkbox4(type='checkbox' name='options[]' value='1')
                    label(for='checkbox4')
                td 
                td 
                td 
                td 
                td
                    a.edit(href='#editEmployeeModal' data-toggle='modal')
                    i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
                    a.delete(href='#deleteEmployeeModal' data-toggle='modal')
                    i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
                tr
                td
                    span.custom-checkbox
                    input#checkbox5(type='checkbox' name='options[]' value='1')
                    label(for='checkbox5')
                td 
                td 
                td 
                td 
                td
                    a.edit(href='#editEmployeeModal' data-toggle='modal')
                    i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;
                    a.delete(href='#deleteEmployeeModal' data-toggle='modal')
                    i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
            .clearfix
            .hint-text
                | Showing 
                b 5
                |  out of 
                b 25
                |  entries
                ul.pagination
                    li.page-item.disabled
                        a(href='#') Previous
                    li.page-item
                        a.page-link(href='#') 1
                    li.page-item
                        a.page-link(href='#') 2
                    li.page-item.active
                        a.page-link(href='#') 3
                    li.page-item
                        a.page-link(href='#') 4
                    li.page-item
                        a.page-link(href='#') 5
                    li.page-item
                        a.page-link(href='#') Next
        // Edit Modal
        #addEmployeeModal.modal.fade
        .modal-dialog
            .modal-content
            form
                .modal-header
                h4.modal-title Add Employee
                button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                .modal-body
                .form-group
                    label Name
                    input.form-control(type='text' required='')
                .form-group
                    label Email
                    input.form-control(type='email' required='')
                .form-group
                    label Address
                    textarea.form-control(required='')
                .form-group
                    label Phone
                    input.form-control(type='text' required='')
                .modal-footer
                input.btn.btn-default(type='button' data-dismiss='modal' value='Cancel')
                input.btn.btn-success(type='submit' value='Add')
        // Edit Modal 
        #editEmployeeModal.modal.fade
        .modal-dialog
            .modal-content
            form
                .modal-header
                h4.modal-title Edit Employee
                button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                .modal-body
                .form-group
                    label Name
                    input.form-control(type='text' required='')
                .form-group
                    label Email
                    input.form-control(type='email' required='')
                .form-group
                    label Address
                    textarea.form-control(required='')
                .form-group
                    label Phone
                    input.form-control(type='text' required='')
                .modal-footer
                input.btn.btn-default(type='button' data-dismiss='modal' value='Cancel')
                input.btn.btn-info(type='submit' value='Save')
        // Delete Modal HTML
        #deleteEmployeeModal.modal.fade
            .modal-dialog
            .modal-content
                form
                .modal-header
                    h4.modal-title Delete Employee
                    button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                .modal-body
                    p Are you sure you want to delete these Records?
                    p.text-warning
                    small This action cannot be undone.
                .modal-footer
                    input.btn.btn-default(type='button' data-dismiss='modal' value='Cancel')
                    input.btn.btn-danger(type='submit' value='Delete')
