extend ../components/template.pug
block content
  .preciosFACTURE   
    .barraFlotante
      nav
        ul
          li
            a(href='beneficiosSAE.html')
              img(src="/imagenes/SAE.png", alt="Aspel SAE")
          li
            a(href='beneficiosCOI.html')
              img(src="/imagenes/COI.png", alt="Aspel COI")
          li
            a(href='beneficiosNOI.html')
              img(src="/imagenes/NOI.png", alt="Aspel NOI")
          li
            a(href='beneficiosADM.html')
              img(src="/imagenes/ADM.png", alt="Aspel ADM")
          li
            a(href='beneficiosFACTURE.html')
              img(src="/imagenes/FACT.png", alt="Aspel FACT")     
          li
            a(href='beneficiosCAJA.html')
              img(src="/imagenes/CAJA.png", alt="Aspel CAJA")
          li
            a(href='beneficiosPROD.html')
              img(src="/imagenes/PROD.png", alt="Aspel PROD")
          li
            a(href='beneficiosBANCO.html')
              img(src="/imagenes/BANCO.png", alt="Aspel BANCO")
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/FACT.png", alt="Aspel FACTURE")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
            a(href='beneficiosFACTURE.html') Beneficios
          .desarrollo__inicio__button-funciones
            a(href='funcionesFACTURE.html') Funciones
          .desarrollo__inicio__button-precios
            a(href='preciosFACTURE.html') Precios
    .info
        .info__body
          .info__body__descripcion-pUno 
            h2 Suscripción
            h3 Sistema Administrativo Empresarial  
            p   
              | #[strong Versión]: 6.0.   #[br]
              | #[strong Categoría]:Servicios de Telecomunicaciones y Tecnología.  Solución de Escritorio. #[br]
              | #[strong Especialidad]:  Facturación. #[br]
            h3 Características generales del producto 
            ul 
              li Cumple con las disposiciones obligatorias de la Resolución Miscelánea Fiscal vigente. 
              li  Base de datos en formato Firebird®. 
              li  Emite comprobantes en pesos y dólares.
              li Traductor automático de versiones Aspel FACTURE 4.0 y 5.0. 
              li Importa información de XML de facturas.
              li  Incluye gráficas personalizables y de fácil configuración.  
              li Catálogo de productos con apartado para integrar fotografía. 
              li  Con Aspel Visor permite consultar el contenido del XML generado, sin tener que cerrar el Sistema.  
              li Actualización en línea vía Internet a las últimas mejoras de la versión. 
              li Acceso seguro a la información mediante la asignación de una contraseña para ingresar al Sistema.  
              li Disponible en la modalidad monoempresa y multiempresa.
          .info__body-button 
            a(href="formulario.html") Mas informacion 
