extend ../components/template.pug
block content
  include barra.pug
  .preciosNOI   
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/NOI.png", alt="Aspel NOI")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
            a(href='beneficiosNOI.html') Beneficios
          .desarrollo__inicio__button-funciones
            a(href='funcionesNOI.html') Funciones
          .desarrollo__inicio__button-precios
            a(href='preciosNOI.html') Precios  
    .info
        .info__body
          .info__body__descripcion-pUno 
            h2 Suscripción
            h3 Sistema de Nómina Integral  
            p   
              | #[strong Versión]:10.0   #[br]
              | #[strong Categoría]:Servicios de Telecomunicaciones y Tecnología
              |#[strong Solución de Escritorio.] #[br]
              | #[strong Especialidad]:  Nómina #[br]
            h3 Características generales del producto 
            ul 
              li Cumple con las disposiciones fiscales y laborales vigentes.
              li  Traductor automático de datos de versiones Aspel NOI 9.0.
              li  Genera en segundos la homoclave del RFC y CURP, con solo ingresar nombre y apellidos del trabajador.  
              li Realiza el envío personalizado del recibo al trabajador.
              li Exporta datos desde cualquier consulta.
              li  Envío automático del XML al depósito de documentos, para asociarlos a la contabilidad.
              li Manejo de múltiples registros patronales.
              li  Actualización en línea vía Internet a las últimas mejoras de la versión
              li Acceso seguro a la información mediante el manejo de perfiles de usuario.
              li Genera diversos documentos personalizados a través de prácticas plantillas en Microsoft WordⓇ 
              li Exporta información en formato TXT. HTML, XML o Excel.
              li  Disponible en la modalidad de 1 usuario, 99 empresas y licencias de usuarios adicionales.
          .info__body-button 
            a(href="formulario.html") Mas informacion 
