extend ../components/template.pug
block content
  .preciosADM   
    .barraFlotante
      nav
        ul
          li
            a(href='beneficiosSAE.html')
              img(src="/imagenes/SAE.png", alt="Aspel SAE")
          li
            a(href='beneficiosCOI.html')
              img(src="/imagenes/COI.png", alt="Aspel COI")
          li
            a(href='beneficiosNOI.html')
              img(src="/imagenes/NOI.png", alt="Aspel NOI")
          li
            a(href='beneficiosADM.html')
              img(src="/imagenes/ADM.png", alt="Aspel ADM")
          li
            a(href='beneficiosFACTURE.html')
              img(src="/imagenes/FACT.png", alt="Aspel FACT")     
          li
            a(href='beneficiosCAJA.html')
              img(src="/imagenes/CAJA.png", alt="Aspel CAJA")
          li
            a(href='beneficiosPROD.html')
              img(src="/imagenes/PROD.png", alt="Aspel PROD")
          li
            a(href='beneficiosBANCO.html')
              img(src="/imagenes/BANCO.png", alt="Aspel BANCO")
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/ADM.png", alt="Aspel NOI")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
            a(href='beneficiosADM.html') Beneficios
          .desarrollo__inicio__button-funciones
            a(href='funcionesADM.html') Funciones
          .desarrollo__inicio__button-precios
            a(href='preciosADM.html') Precios
    .info
        .info__body
          .info__body__descripcion-pUno 
            h2 Suscripción
            h3 Sistema de Administración Móvil   
            p   
              | #[strong Versión]:3.0.   #[br]
              | #[strong Categoría]:Servicios en la nube
              |#[strong Solución de Escritorio.] #[br]
              | #[strong Especialidad]:  Administración #[br]
            h3 Características generales del producto 
            ul 
              li Cumple con las disposiciones obligatorias de la Resolución Miscelánea Fiscal Vigente.
              li  Emite comprobantes con moneda extranjera. 
              li  Configura hasta 6 decimales en Precios y Cantidades. 
              li Traductor automático de versiones Aspel FACTURE 4.0 y 5.0. 
              li Recibe una copia de los CFDI enviados y documentos de cuentas por cobrar. PREMIUM 
              li  Obtén el resumen de los comprobantes emitidos. PREMIUM  
              li Establece la fecha para generar el cierre automático de cuentas por cobrar y pagar. PREMIUM  
              li  Incluye complementos fiscales que son fáciles de identificar al generar documentos. 
              li Maneja hasta 3 sesiones simultáneas. 
              li Trabaja sin conexión a Internet y sincroniza tu información cuando te conectes. 
              li Actualización en línea vía Internet a las últimas mejoras de la versión
              li  Acceso seguro a la información mediante el manejo de perfiles de usuario.
              li  Disponible en la modalidad de 1 RFC.
          .info__body-button 
            a(href="formulario.html") Mas informacion 
