extend ../components/template.pug
block content
  include barra.pug
  .preciosBANCO 
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/PROD.png", alt="Aspel PROD")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
            a(href='beneficiosPROD.html') Beneficios
          .desarrollo__inicio__button-funciones
            a(href='funcionesPROD.html') Funciones
          .desarrollo__inicio__button-precios
            a(href='preciosPROD.html') Precios  
    .info
        .info__body
          .info__body__descripcion-pUno 
            h2 Suscripción
            h3 Sistema de Control de Producción  
            p   
              | #[strong Versión]: 5.0.  #[br]
              | #[strong Categoría]:Servicios de Telecomunicaciones y Tecnología.  Solución de Escritorio. #[br]
              | #[strong Especialidad]: Producción. #[br]
            h3 Características generales del producto 
            ul 
              li Base de datos integrada en Aspel SAE 9.0 en formato Firebird y posibilidad de uso en SQL Server®. 
              li Captura observaciones en productos terminados, hojas de costos, órdenes y seguimiento de las mismas.  
              li Proporciona el comparativo general y detallado del costo real vs. estimado 
              li Exporta información en formato TXT, HTML, XML o Excel 
              li Cambia un componente del mismo tipo en todos los productos terminados a través de la opción sustitución masiva. 
              li Genera reportes en formato QR2 que entregan información precisa en el menor tiempo posible 
              li Actualización en línea vía internet a las últimas mejoras de la versión 
              li Acceso seguro a la información mediante el manejo de perfiles de usuario  
              li Disponible en la modalidad de 1 usuario, 99 empresas y licencias de usuarios adicionales
              li Cuenta con diferentes “Skins” o temas que permiten personalizar la vista del sistema al gusto del usuario. 
              li Barra de búsqueda inteligente, la cual presenta una lista de todas las opciones que tienen relación con el tema especificado. 
              li Actualización en línea vía Internet a las últimas mejoras de la versión (Aspel-AL)
          .info__body-button 
            a(href="formulario.html") Mas informacion 
