extend ../components/template.pug
block content
  include barra.pug
  .preciosSAE  
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/SAE.png", alt="")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
            a(href='beneficiosSAE.html') Beneficios
          .desarrollo__inicio__button-funciones
            a(href='funcionesSAE.html') Funciones
          .desarrollo__inicio__button-tienda
            a(href='tiendaSAE.html') Tienda en linea
          .desarrollo__inicio__button-precios
            a(href='preciosSAE.html') Precios 
    .info
      .info__body
        .info__body__descripcion-pUno 
          h2 Suscripción
          h3 Sistema Administrativo Empresarial 
          p   
            | #[strong Versión]: 8.0  #[br]
            | #[strong Categoría]:Servicios de Telecomunicaciones y Tecnología
            | #[strong Solución de Escritorio.] #[br]
            | #[strong Especialidad]: Administración. #[br]
          h3 Características generales del producto 
          ul 
            li Cumple con las disposiciones obligatorias de la Resolución Miscelánea Fiscal Vigente.
            li Base de datos en formato FirebirdⓇ 
            li Traductor automático de datos de versiones Aspel SAE 7.0.  
            li Exportación de toda la información del sistema a formatos: XLS, HTML, PDF.
            li Integra módulos intuitivos de clientes y cuentas por cobrar, facturas y vendedores, inventarios, proveedores y cuentas por pagar, compras y estadísticas.
            li Importación de hojas de cálculo de Microsoft Excel® de los catálogos y documentos. 
            li Manejo de moneda nacional y extranjera.
            li Configuración de addendas y complementos para el CFDI 
            li Actualización en línea via Internet a las últimas mejoras de la versión. 
            li Registro de perfiles de usuario para un acceso seguro a la información.
            li Disponible en la modalidad de 1 usuario 99 empresas y licencias de usuarios adicionales.
        .info__body-button 
          a(href="formulario.html") Mas informacion 
