extend ../components/template.pug
block content
  include barra.pug
  .preciosFACTURE   
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/FACT.png", alt="Aspel FACTURE")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
            a(href='beneficiosFACTURE.html') Beneficios
          .desarrollo__inicio__button-funciones
            a(href='funcionesFACTURE.html') Funciones
          .desarrollo__inicio__button-precios
            a(href='preciosFACTURE.html') Precios
    .info
        .info__body
          .info__body__descripcion-pUno 
            h2 Suscripción
            h3 Sistema Administrativo Empresarial  
            p   
              | #[strong Versión]: 6.0.   #[br]
              | #[strong Categoría]:Servicios de Telecomunicaciones y Tecnología.  Solución de Escritorio. #[br]
              | #[strong Especialidad]:  Facturación. #[br]
            h3 Características generales del producto 
            ul 
              li Cumple con las disposiciones obligatorias de la Resolución Miscelánea Fiscal vigente. 
              li  Base de datos en formato Firebird®. 
              li  Emite comprobantes en pesos y dólares.
              li Traductor automático de versiones Aspel FACTURE 4.0 y 5.0. 
              li Importa información de XML de facturas.
              li  Incluye gráficas personalizables y de fácil configuración.  
              li Catálogo de productos con apartado para integrar fotografía. 
              li  Con Aspel Visor permite consultar el contenido del XML generado, sin tener que cerrar el Sistema.  
              li Actualización en línea vía Internet a las últimas mejoras de la versión. 
              li Acceso seguro a la información mediante la asignación de una contraseña para ingresar al Sistema.  
              li Disponible en la modalidad monoempresa y multiempresa.
          .info__body-button 
            a(href="formulario.html") Mas informacion 
