extend ../components/template.pug
block content
  include barra.pug
  .preciosNOI
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/COI.png", alt="Aspel COI")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
            a(href='beneficiosCOI.html') Beneficios
          .desarrollo__inicio__button-funciones
            a(href='funcionesCOI.html') Funciones
          .desarrollo__inicio__button-precios
            a(href='preciosCOI.html') Precios
    .info
        .info__body
          .info__body__descripcion-pUno 
            h2 Suscripción
            h3 Sistema de Nómina Integral  
            p   
              | #[strong Versión]:9.0   #[br]
              | #[strong Categoría]:Servicios de Telecomunicaciones y Tecnología
              |#[strong Solución de Escritorio.] #[br]
              | #[strong Especialidad]:  Contabilidad #[br]
            h3 Características generales del producto 
            ul 
              li Procesa, integra y mantiene actualizada la información contable y fiscal atendiendo todos los requisitos de la Contabilidad Electrónica. 
              li Valida en automático los RFC de terceros directamente desde la lista negra del SAT (EFOS). 
              li  Controla los CFDI de gastos corporativos, desde cualquier lugar.  
              li  Analiza reportes comparativos de estados financieros anuales o por periodo. 
              li Obtén útiles reportes de IEPS e IVA fronterizo.
          .info__body-button 
            a(href="formulario.html") Mas informacion 
