extend ../components/template.pug
block content
  .preciosCAJA   
    .barraFlotante
      nav
        ul
          li
            a(href='beneficiosSAE.html')
              img(src="/imagenes/SAE.png", alt="Aspel SAE")
          li
            a(href='beneficiosCOI.html')
              img(src="/imagenes/COI.png", alt="Aspel COI")
          li
            a(href='beneficiosNOI.html')
              img(src="/imagenes/NOI.png", alt="Aspel NOI")
          li
            a(href='beneficiosADM.html')
              img(src="/imagenes/ADM.png", alt="Aspel ADM")
          li
            a(href='beneficiosFACTURE.html')
              img(src="/imagenes/FACT.png", alt="Aspel FACT")     
          li
            a(href='beneficiosCAJA.html')
              img(src="/imagenes/CAJA.png", alt="Aspel CAJA")
          li
            a(href='beneficiosPROD.html')
              img(src="/imagenes/PROD.png", alt="Aspel PROD")
          li
            a(href='beneficiosBANCO.html')
              img(src="/imagenes/BANCO.png", alt="Aspel BANCO")
    .desarrollo 
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/imagenes/CAJA.png", alt="")
        .desarrollo__inicio__button
          .desarrollo__inicio__button-beneficios
            a(href="beneficiosCAJA.html") Beneficios
          .desarrollo__inicio__button-funciones
            a(href="funcionesCAJA.html") Funciones
          .desarrollo__inicio__button-precios
            a(href="preciosCAJA.html") Precios
          .desarrollo__inicio__button-tienda
            a(href="pventaCAJA.html") Kit punto de venta
    .info
      .info__body
        .info__body__descripcion-pUno 
          h2 Suscripción
          h3 Sistema de Punto de Venta y Administración de Comercios   
          p   
            | #[strong Versión]: 5.0.  #[br]
            | #[strong Categoría]:Servicios de Telecomunicaciones y Tecnología
            | #[strong Solución de Escritorio.] #[br]
            | #[strong Especialidad]: Producción. #[br]
          h3 Características generales del producto 
          ul 
            li Cumple con las disposiciones obligatorias de la Resolución Miscelánea Fiscal vigente.
            li Base de datos en formato Firebird® y posibilidad de uso en formato MS-SQL®.  
            li Traductor automático de datos de versiones Aspel CAJA 4.0 
            li Importación de archivos en hojas de cálculo de Microsoft Excel® como catálogo de clientes y productos. 
            li Ágil captura al asignar teclas de función rápida.
            li Formatos de tickets y facturas adaptables al tamaño de impresión. 
            li Consolida información de ventas e inventarios de diferentes puntos de venta.  
            li Lleva el control de ingresos totales por tienda, cajero o periodo. 
            li Conexión con terminales bancarias para realizar operaciones de pago por Internet (verificar servicios disponibles). 
            li Actualización en línea vía Internet a las últimas mejoras de la versión. 
            li Acceso seguro a la información mediante el manejo de perfiles de usuario. 
            li Disponible en la modalidad de 1 usuario 1 empresa, 99 Cajas y licencias de usuarios adicionales.
        .info__body-button 
          a(href="formulario.html") Mas informacion 
