extend ../components/template.pug
block content
  include barra.pug
  .pventaCAJA 
    .inicio 
      .inicio__titulo
        h2 Kit Punto de Venta 
      .inicio__descripcion 
        p Lleva el control preciso de tu negocio con las Soluciones Aspel CAJA: Punto de venta TODO INCLUIDO. Gestiona todas las operaciones de tu tienda o comercio: ingresos, existencias, ventas, cajas, cajeros, inventarios en tiendas y mucho más.
    .desarrollo
      .desarrollo__basica
        .desarrollo__basica-titulo 
          h2 Solucion Punto de Venta Básico
        .desarrollo__basica-img 
          img(src="/Images/solucion_basica.png", alt="Punto de venta basico")
        .desarrollo__basica-txt 
          h3 Componentes: 
            ul 
              li Aspel CAJA 4.0
              li Miniprinter
              li Lector
              li Código de barras
              li Cajón de dinero
          h3 Principales Beneficios 
            ul 
              li Controla, administra y agiliza las operaciones de venta, facturación e inventarios de uno o varios comercios, cajas y cajeros.
              li Entrega de forma inmediata el comprobante de venta a tu Cliente.
              li Optimiza el tiempo de cobro con el potente escáner.
              li Resguarda con total seguridad tu dinero.
      .desarrollo__touch 
        .desarrollo__touch-titulo 
          h2 Solución Punto de Venta Touch
        .desarrollo__touch-img 
          img(src="/Images/caja.jpg", alt="caja de punto de venta touch")
        .desarrollo__touch-txt 
          p La solución de Punto de Venta más completa para administrar tu negocio.
          h3 Componentes:
            ul
              li Aspel CAJA 4.0
              li Miniprinter
              li Lector
              li Código de barras
              li Monitor Touch
              li Cajón de dinero
          h3 Principales beneficios:
            ul
              li Controla, administra y agiliza las operaciones de venta, facturación e inventarios de uno o varios comercios, cajas y cajeros.
              li Convierte tu PC en un poderoso Punto de Venta.
              li Agiliza la captura de Notas de Venta con un práctico Monitor de pantalla touch.
              li Entrega de forma inmediata el comprobante de venta a tu Cliente.
              li Optimiza el tiempo de cobro con el potente escáner.
              li Resguarda con total seguridad tu dinero.
      .desarrollo__dispositivos 
        .desarrollo__dispositivos-txt
          p Aspel CAJA te permite convertir tu PC en un Sistema de Punto de Venta y administración para consolidar el éxito de tu negocio.
        .desarrollo__dispositivos-img
          h2 DISPOSITIVOS COMPATIBLES 
          img(src="/Images/dispositivosCAJA.png", alt="lista de dispositivos compatibles")