extend ../components/template.pug
block content
  include barra.pug
  .sae
    .desarrollo 
      h1 Aspel SAE
      .desarrollo__inicio 
        .desarrollo__inicio-logo 
          img(src="/Images/SAE.png", alt="")
        .desarrollo__inicio-video 
          video(src="/videos/Nuevo Aspel SAE - Digitaliza tu empresa y empieza a vender en línea.mp4" controls) 
      .desarrollo__button
          ul#myTab.nav.nav-tabs(role='tablist')
            li.nav-item(role='presentation')
              button#beneficios-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#beneficios-tab-pane' type='button' role='tab' aria-controls='beneficios-tab-pane' aria-selected='true') Beneficios
            li.nav-item(role='presentation')
              button#funciones-tab.nav-link(data-bs-toggle='tab' data-bs-target='#funciones-tab-pane' type='button' role='tab' aria-controls='funciones-tab-pane' aria-selected='false') Funciones
            li.nav-item(role='presentation')
              button#precios-tab.nav-link(data-bs-toggle='tab' data-bs-target='#precios-tab-pane' type='button' role='tab' aria-controls='precios-tab-pane' aria-selected='false') Precios
            li.nav-item(role='presentation')
              button#tienda-tab.nav-link(data-bs-toggle='tab' data-bs-target='#tienda-tab-pane' type='button' role='tab' aria-controls='tienda-tab-pane' aria-selected='false') Tienda
          #myTabContent.tab-content
            #beneficios-tab-pane.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='beneficios-tab' tabindex='0')
              h2 Descripcion del producto 
              p Software administrativo que controla el ciclo de todas las operaciones de compra-venta de la empresa como: inventarios, servicios, clientes, facturación, cuentas por cobrar, vendedores, compras, proveedores y cuentas por pagar.
              h2 Principales Funcionalidades 
              ul 
                li Control de inventarios y servicios
                li Administración de compras y ventas
                li comprobantes fiscales CFDI 4.0
                li Facturación electrónica ilimitada
                li  Carta porte
                li Conexión con tiendas en línea (comercio electrónico)
                li Manejo de proveedores
                li  Seguimiento de clientes
                li  Útiles reportes y estadísticas 
                li Punto de venta
                li  Movilidad empresarial
            #funciones-tab-pane.tab-pane.fade(role='tabpanel' aria-labelledby='funciones-tab' tabindex='0')
              h2 Sistema Administrativo Empresarial
              p Aspel SAE permite controlar el ciclo de las operaciones de compra-venta de su empresa, como: clientes, proveedores, cuentas por pagar, cuentas por cobrar, inventarios, facturación, vendedores, compras y ventas, automatizando los procesos administrativos de cada empresa.
              h2 Nuevas características de la versión de Aspel SAE.
              ul 
                li Proveedores y compras
                li Emisión de documento de compra-venta
                li Facturación electrónica 4.0
                li Validación de datos fiscales
                li Genera tus CFDI con el complemento carta porte
                li Número de esquemas de cancelación
                li Tienda en línea
                li Expande tus limites de venta
                li Punto de venta 
              p Este sistema ofrece gran movilidad a las empresas, permitiendo a las sucursales conectarse remotamente al servidor, ya sea por dispositivos móviles o equipos de cómputo, permitiendo así el acceso a toda la información comercial y/o administrativa.
              p Mantiene una interfaz con Aspel-COI para relacionar los folios fiscales de los CFDI a las pólizas, con base en los requerimientos vigentes de la Contabilidad Electrónica.
            #precios-tab-pane.tab-pane.fade(role='tabpanel' aria-labelledby='precios-tab' tabindex='0')
              h2 Suscripción
              h3 Sistema Administrativo Empresarial 
              p   
                | #[strong Versión]: 8.0  #[br]
                | #[strong Categoría]:Servicios de Telecomunicaciones y Tecnología
                | #[strong Solución de Escritorio.] #[br]
                | #[strong Especialidad]: Administración. #[br]
              h3 Características generales del producto 
              ul 
                li Cumple con las disposiciones obligatorias de la Resolución Miscelánea Fiscal Vigente.
                li Base de datos en formato FirebirdⓇ 
                li Traductor automático de datos de versiones Aspel SAE 7.0.  
                li Exportación de toda la información del sistema a formatos: XLS, HTML, PDF.
                li Integra módulos intuitivos de clientes y cuentas por cobrar, facturas y vendedores, inventarios, proveedores y cuentas por pagar, compras y estadísticas.
                li Importación de hojas de cálculo de Microsoft Excel® de los catálogos y documentos. 
                li Manejo de moneda nacional y extranjera.
                li Configuración de addendas y complementos para el CFDI 
                li Actualización en línea via Internet a las últimas mejoras de la versión. 
                li Registro de perfiles de usuario para un acceso seguro a la información.
                li Disponible en la modalidad de 1 usuario 99 empresas y licencias de usuarios adicionales. 
            #tienda-tab-pane.tab-pane.fade(role='tabpanel' aria-labelledby='tienda-tab' tabindex='0')
              .desarrollo__imagenes 
                img(src="/Images/mercado_libre.png", alt="Mercado Libre")
                img(src="/Images/Claro-Shop.png", alt="Claro Shop")  
              .desarrollo__informacion 
                .desarrollo__informacion-online 
                  img(src="/Images/Icons/venta online.svg", alt="venta en linea")
                  p Publica fácilmente y sin costo tus productos para iniciar la venta en línea.
                .desarrollo__informacion-sincroniza 
                  img(src="/Images/Icons/sincroniza.svg", alt="sincronizacion automatica")
                  p Sincroniza en automático pedidos, inventarios y ventas.
                .desarrollo__informacion-visualiza 
                  img(src="/Images/Icons/visualiza.svg", alt="visualiza los pedidos pendientes")
                  p Visualiza los pedidos pendientes para atenderlos de inmediato.
                .desarrollo__informacion-resumen 
                  img(src="/Images/Icons/resumen.svg", alt="resumen de publicaciones de productos")
                  p Conoce el resumen de publicaciones de productos y ventas generadas.  
    .boton#infobtn  
      button.btn.btn-info(onclick='info()')#info ?
