extend ../components/template-admin.pug
block content
  include inicio-cliente.pug
  .contratosCliente
    h2.title Mis Tickets
    .content__contratos__tabs
      #myTabContent.tab-content
        #usuario-tab-pane.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='usuario-tab', tabindex='0') 
          .content__contratos__tabs__item__body
            .table-wrapper.content__contratos__tabs__item__body__table
              table.table.table-striped.table-hover
                thead 
                  tr                  
                    th N°
                    th Fecha
                    th Nombre
                    th Detalles 
                tbody 
                  tr 
                    td 01
                    td 27 Enero 2024
                    td Josue Martinez
                    td 
                      button.btn-ve(type='button' data-bs-toggle='modal' data-bs-target='#Modalverticket') ver más...
                  tr 
                    td 02
                    td 27 Enero 2024
                    td Josue Martinez
                    td 
                      button.btn-ve(type='button' data-bs-toggle='modal' data-bs-target='#Modalve') ver más...
          .content__contratos__tabs__item__footer
            nav(aria-label='...')
              ul.pagination
                li.page-item.disabled
                a.page-link Previous
                li.page-item
                a.page-link(href='#') 1
                li.page-item.active(aria-current='page')
                a.page-link(href='#') 2
                li.page-item
                a.page-link(href='#') 3
                li.page-item
                a.page-link(href='#') Next   
          a(href="inicioAdmin.html") 
            button.btn.btn-exit(type="submit")#salir Salir  
  #Modalverticket.modal.fade(class="modal fade" tabindex='-1' aria-labelledby='modalveLabel')
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          h2 Información del contrato
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body 
              .datos__info 
              label(for="id") Id Contrato 
              label(for="servicio") Servicio 
              label(for="fContrato") Fecha de contrato
              label(for="fRenovacion") Fecha de renovacion
              label(for="status") status
            .modal-footer
                button.btn-modi(type='button' data-bs-toggle='modal' data-bs-target='#Modalmodi') Modificar
                button.btn-del(type='button' data-bs-toggle='modal' data-bs-target='#Modaldel') Eliminar