extend ../components/template-admin.pug
block content
  include inicio-cliente.pug
  .contratosCliente
    h2.title Mis Tickets
    .content__contratos__tabs
      #myTabContent.tab-content
        #usuario-tab-pane.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='usuario-tab', tabindex='0') 
          .content__contratos__tabs__item__body
            .table-wrapper.content__contratos__tabs__item__body__table
              table#myTable.display(cellspacing='0' width='100%')
                thead 
                  tr                  
                    th N°
                    th Fecha
                    th Nombre
                    th Detalles 
                tbody 
                  tr 
                    td 01
                    td 27 Enero 2024
                    td Josue Martinez
                    td 
                      a(href="detalles-ticket.html") Ver mas...
                  tr 
                    td 02
                    td 27 Enero 2024
                    td Josue Martinez
                    td 
                      a(href="detalles-ticket.html") Ver mas ...
          button.btn.btn-exit(onclick='paginaInicio()')#salir Salir

      script(src="../js/inicio.js")
      script.
        $(document).ready( function () {
        $('#myTable').DataTable();
        } );