extend ../components/template.pug
block content
  include barra.pug
  .tiendaSAE 
    .desarrollo 
      .desarrollo__logos 
        .desarrollo__logos-mLibre 
          img(src="/Images/mercado_libre.png", alt="Mercado Libre")
        .desarrollo__logos-claro  
          img(src="/Images/Claro-Shop.png", alt="Claro Shop")
      .desarrollo__informacion 
        .desarrollo__informacion-online 
          img(src="/Images/Icons/venta online.svg", alt="venta en linea")
          p Publica fácilmente y sin costo tus productos para iniciar la venta en línea.
        .desarrollo__informacion-sincroniza 
          img(src="/Images/Icons/sincroniza.svg", alt="sincronizacion automatica")
          p Sincroniza en automático pedidos, inventarios y ventas.
        .desarrollo__informacion-visualiza 
          img(src="/Images/Icons/visualiza.svg", alt="visualiza los pedidos pendientes")
          p Visualiza los pedidos pendientes para atenderlos de inmediato.
        .desarrollo__informacion-resumen 
          img(src="/Images/Icons/resumen.svg", alt="resumen de publicaciones de productos")
          p Conoce el resumen de publicaciones de productos y ventas generadas.
      .desarrollo-button 
        a(href="formulario.html") Más informacion