extend ../components/template-admin.pug
block content
  .verContrato
    h2 Informacion del contrato
      button.btn.btn-exit(onclick='regresar()')#salir Regresar
      .datos 
        .datos__info 
          label(for="id") Id Contrato 
          label(for="servicio") Servicio 
          label(for="fContrato") Fecha de contrato
          label(for="fRenovacion") Fecha de renovacion
          label(for="status") status
      .final
        a(href="") 
          button.btn.btn-eliminar(type="submit")#eliminar Eliminar
        a(href="") 
          button.btn.btn-modificar(type="submit")#modificar Modificar
  script(src="../js/regresar.js")