extend ../components/template-admin.pug
block content
  .verPago
    h2 Informacion del pago
      button.btn.btn-exit(onclick='regresar()')#salir Regresar
      .datos 
        .datos__info 
          label(for="cliente") Cliente
          label(for="id") Id Pago 
          label(for="servicio") Servicio 
          label(for="fPago") Fecha de pago
          label(for="Contrato") Contrato 
          label(for="vigenciaContrato") Vigencia del contrato
      .final
        include modal-pago.pug
  script(src="../js/regresar.js")