extend ../components/template-admin.pug
block content
    include control-menuAdmin.pug
    .verCliente
      h2 Informacion del cliente 
      .botones
        include botones-admin.pug
        a(href="control-clientes.html") 
          button.btn.btn-exit(type="submit")#salir Regresar
      .datos 
        .datos__info 
          label(for="nombre") Nombre 
          label(for="direccion") Direccion 
          label(for="estado") Estado  
          label(for="municipio") Municipio 
          label(for="cp") Código Postal  
          label(for="rf") Regimen Fiscal 
          label(for="tel") Teléfono  
          label(for="contacto") Contacto 
          label(for="correo") Correo Electrónico
      .final
        a(href="") 
          button.btn.btn-eliminar(type="submit")#eliminar Eliminar
        include modal.pug